:root {
  /* CSS Variables */
  --wrapper-mw: 1440px;
  --font-family-1: Poppins;
  --font-family-2: Poppins;
  --font-family-3: Poppins;
  --font-body-family: Poppins;
  --font-heading-family: Poppins;
  --t4s-success-color: #428445;
  --t4s-success-color-rgb: 66, 132, 69;
  --t4s-warning-color: #e0b252;
  --t4s-warning-color-rgb: 224, 178, 82;
  --t4s-error-color: #eb001b;
  --t4s-error-color-rgb: 235, 0, 27;
  --t4s-light-color: #ffffff;
  --t4s-dark-color: #222222;
  --t4s-highlight-color: #ec0101;
  --t4s-tooltip-background: #333333;
  --t4s-tooltip-color: #fff;
  --primary-sw-color: #333333;
  --primary-sw-color-rgb: 51, 51, 51;
  --border-sw-color: #f0f0f0;
  --secondary-sw-color: #666666;
  --primary-price-color: #b8403d;
  --secondary-price-color: #666666;
  --t4s-body-background: #ffffff;
  --text-color: #666666;
  --text-color-rgb: 102, 102, 102;
  --heading-color: #333333;
  --accent-color: #ffc556;
  --accent-color-rgb: 255, 197, 86;
  --accent-color-darken: #ffab0a;
  --accent-color-hover: var(--accent-color-darken);
  --secondary-color: #333333;
  --secondary-color-rgb: 51, 51, 51;
  --link-color: #333333;
  --link-color-hover: #ffc556;
  --border-color: #f0f0f0;
  --border-color-rgb: 240, 240, 240;
  --border-primary-color: #666666;
  --button-background: #333333;
  --button-color: #fff;
  --button-background-hover: #ffc556;
  --button-color-hover: #fff;
  --sale-badge-background: #b8403d;
  --sale-badge-color: #fff;
  --new-badge-background: #94b7e0;
  --new-badge-color: #fff;
  --preorder-badge-background: #ffc556;
  --preorder-badge-color: #fff;
  --soldout-badge-background: #cccccc;
  --soldout-badge-color: #fff;
  --custom-badge-background: #ffc556;
  --custom-badge-color: #fff;
  /* Shopify related variables */
  --payment-terms-background-color: ;
  --lz-background: #f0f0f0;
  --lz-img: url("//balabala.com/cdn/shop/t/33/assets/t4s_loader.svg?v=174737313365620768131689846443");
  --lz-img-cus: url("//balabala.com/cdn/shop/files/logo.png?v=1624357299&width=108");
  --lz-size-cus: 60px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fff;
  color: #878787;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 35px;
  width: 100%;
  line-height: 1.4;
}
/* Ẩn mũi tên điều chỉnh trên tất cả các trình duyệt */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Ẩn mũi tên điều chỉnh trên Chrome và Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
table,
td,
th {
  border: 1px solid var(--border-color);
  vertical-align: middle;
}

caption,
th,
td {
  vertical-align: middle;
  text-align: start;
  font-weight: 400;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: 600;
}

td {
  border-width: 0 1px 1px 0;
}

td,
th {
  padding: 10px;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  color: #333;
  text-decoration: none;
  transition: all 0.25s ease;
}

a:hover,
a:active {
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #242424;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.t4s_title a {
  font-family: inherit;
}

big {
  font-size: larger;
}

abbr {
  border-bottom: 1px dotted;
  color: #d62432;
  text-decoration: none;
}

acronym {
  border-bottom: 1px dotted;
  text-decoration: none;
}

.required {
  border: none;
  color: var(--t4s-error-color);
  font-size: 16px;
  margin-inline-start: 3px;
  line-height: 1;
}

abbr[title] {
  border: none;
}

strong,
b {
  font-weight: 600;
}

mark {
  display: inline-block;
  padding: 5px 8px;
  background-color: #f7f7f7;
  color: #333;
  font-weight: 600;
  line-height: 1;
}

code,
kbd {
  padding: 2px 5px;
}

code,
kbd,
pre,
samp {
  -webkit-hyphens: none;
  hyphens: none;
  font-family: monospace, serif;
}

ins {
  text-decoration: none;
}

pre {
  overflow: auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  text-align: start;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

i,
dfn,
em,
cite,
var {
  font-style: italic;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 1;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

small {
  font-size: 80%;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 100px;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

.flex-sb {
  justify-content: space-between;
}
.flex-w {
  flex-wrap: wrap;
}
.flex-sb-m {
  justify-content: space-between;
  align-items: center;
}
.flex-w,
.flex-l,
.flex-r,
.flex-c,
.flex-sa,
.flex-sb,
.flex-t,
.flex-b,
.flex-m,
.flex-str,
.flex-c-m,
.flex-c-t,
.flex-c-b,
.flex-c-str,
.flex-l-m,
.flex-r-m,
.flex-sa-m,
.flex-sb-m,
.flex-col-l,
.flex-col-r,
.flex-col-c,
.flex-col-str,
.flex-col-t,
.flex-col-b,
.flex-col-m,
.flex-col-sb,
.flex-col-sa,
.flex-col-c-m,
.flex-col-l-m,
.flex-col-r-m,
.flex-col-str-m,
.flex-col-c-t,
.flex-col-c-b,
.flex-col-c-sb,
.flex-col-c-sa,
.flex-col-l-sb,
.flex-col-r-sb,
.flex-row,
.flex-row-rev,
.flex-col,
.flex-col-rev,
.dis-flex {
  display: flex;
}
.t4s-clearfix:after,
.t4s-clearfix:before {
  content: " ";
  display: table;
}

.t4s-clearfix:after {
  clear: both;
}

iframe,
embed {
  max-width: 100%;
}

blockquote {
  margin-bottom: 20px;
  padding-left: 30px;
  border-left: 2px solid;
  font-style: italic;
  font-size: 110%;
}

blockquote p {
  margin-bottom: 0;
}

blockquote cite {
  display: block;
  margin-top: 10px;
  color: #333;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}

blockquote cite:before {
  content: "";
  display: inline-block;
  margin-inline-end: 5px;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  vertical-align: middle;
}

address {
  margin-bottom: 20px;
  font-style: italic;
  line-height: 1.8;
}

fieldset {
  margin-bottom: 20px;
  padding: 20px 40px;
  border: 1px solid rgba(119, 119, 119, 0.2);
}

fieldset legend {
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
  width: auto;
}

legend {
  color: #242424;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

ol,
ul {
  list-style: none;
  margin-bottom: var(--list-mb);
  padding-inline-start: var(--li-pl);
  --list-mb: 20px;
  --li-mb: 10px;
  --li-pl: 17px;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-13 {
    flex: 0 0 auto;
    width: 20%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-xl {
    flex: 1 0 0%;
  }
  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }
  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1230px) {
  .container {
    max-width: 1200px;
  }
}
.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.lh-1 {
  line-height: 1;
}

.d-none {
  display: none;
}
@media (min-width: 1025px) {
  .col-lg-4-custom {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
}
