:root {
  --switch-layout-color: #666666;
  --text-color: #666666;
  --border-color: #f0f0f0;
  --heading-color: #333333;
  --font-heading-family: Poppins;
  --secondary-color: #333333;
  --accent-color: #ffc556;
  --light-color: #ffffff;
  --other-radius: 0px;
  --dark-color: #222222;
  --accent-color-rgb: 255, 197, 86;
  --btn-radius: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: var(--heading-color);
  font-family: var(--font-heading-family);
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 0px;
}

/*Section Line*/
.line-section .section-inner {
  margin-bottom: 10px;
}
.line-section .section-inner .custom-line {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-top: none;
  border-right: none;
  border-left: none;
  display: inline-block;
  vertical-align: top;
}

/* end*/
.col-item-1 {
  width: 100%;
}

.col-item-2 {
  width: 50%;
}

.col-item-3 {
  width: 33.3333333333%;
}

.col-item-4 {
  width: 25%;
}

.col-item-5 {
  width: 20%;
}

.col-item-6 {
  width: 16.6666666667%;
}

/*Page Section Heading*/
.page_section_heading .header-banner {
  background-repeat: inherit;
  background-size: cover;
  background-position: left center;
}
.page_section_heading .header-banner .page-head {
  padding: 10px 0;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  text-align: start;
}
.page_section_heading .header-banner .page-head .breadcrumbs {
  margin-bottom: 16px;
}
.page_section_heading .header-banner .page-head .breadcrumbs .breadcrumbs__list {
  justify-content: center;
  color: #aaa;
  margin: 0 -3px 5px;
  padding: 0;
}
.page_section_heading .header-banner .page-head .breadcrumbs .breadcrumbs__list .breadcrumbs__item {
  font-size: 13px;
  font-weight: 400;
  margin: 0 3px;
  display: inline-block;
  color: #333333;
}
.page_section_heading .header-banner .page-head .breadcrumbs .breadcrumbs__list .breadcrumbs__item a {
  display: inline-block;
  color: #333333;
}
.page_section_heading .header-banner .page-head .breadcrumbs .breadcrumbs__list .breadcrumbs__item .icon-arrow {
  width: 9px;
  margin-left: 3px;
  stroke: #333333;
  fill: #333333;
}
.page_section_heading .header-banner .page-head .breadcrumbs .breadcrumbs__list .breadcrumbs__item:hover {
  opacity: 0.8;
}
.page_section_heading .header-banner .page-head .title-head {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  color: #333333;
  margin-bottom: 0;
  text-transform: uppercase;
}

/*end*/
/*product-category*/
/*facets__form*/
.facets__form {
  margin-top: -30px;
}
.facets__form .facet {
  margin-top: 30px;
}
.facets__form .facet .facet-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  position: relative;
  padding-bottom: 20px;
}
.facets__form .facet .facet-title::after {
  content: "";
  width: 60px;
  height: 2px px;
  border-bottom: solid 2px;
  left: 0;
  bottom: 15px;
  position: absolute;
}
.facets__form .facet .facet-content .current-scrollbar {
  max-height: 250px;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.facets__form .facet .facet-content .current-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.facets__form .facet .facet-content .current-scrollbar::-webkit-scrollbar-track {
  background: #f2f2f2;
}
.facets__form .facet .facet-content .current-scrollbar::-webkit-scrollbar-thumb {
  background: #d5d5d5;
}
.facets__form .facet .facet-content ul {
  padding: 0;
  margin: 0;
}
.facets__form .facet .facet-content ul li {
  line-height: 25px;
  list-style: none;
  margin-bottom: 8px;
}
.facets__form .facet .facet-content ul li a {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  transition: 0.3s;
  font-size: 13px;
}
.facets__form .facet .facet-content ul li a:hover {
  color: var(--accent-color);
}
.facets__form .facet .facet-content ul li.active a {
  color: var(--accent-color);
}
.facets__form .facet .facet-content ul li.active a .checkbox-wrapper {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.facets__form .facet .facet-content ul li.active a .checkbox-wrapper svg {
  transform: scale(1);
}
.facets__form .facet .facet-content ul li.is--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.facets__form .facet .facet-content .style-color a .filter_color {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  text-align: center;
  line-height: 24px;
  border: 1px solid transparent;
  width: auto;
  height: auto;
  padding: 2px;
  position: relative;
  overflow: hidden;
}
.facets__form .facet .facet-content .style-color a .filter_color > span {
  width: 26px;
  height: 26px;
  display: block;
  border-radius: 50%;
  position: relative;
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
}
.facets__form .facet .facet-content .style-color a .filter_color > span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: 0.2s ease-in-out;
}
.facets__form .facet .facet-content .style-color a .filter_color .bg_color_black {
  --bg-color: #000;
}
.facets__form .facet .facet-content .style-color a .filter_color .bg_color_blue {
  --bg-color: #a8bcd4;
}
.facets__form .facet .facet-content .style-color a .filter_color > svg {
  pointer-events: none;
  transform: scale(0);
  transition: 0.25s ease-in-out;
  width: 12px;
  height: 12px;
  color: var(--light-color);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.facets__form .facet .facet-content .style-color a:hover {
  --border-color: #f0f0f0;
}
.facets__form .facet .facet-content .style-color a:hover .filter_color {
  border-color: var(--border-color);
}
.facets__form .facet .facet-content .checkbox-wrapper {
  width: 16px;
  height: 16px;
  min-width: 16px;
  border: 1px solid var(--border-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 10px;
  border-radius: var(--other-radius);
  overflow: hidden;
}
.facets__form .facet .facet-content .checkbox-wrapper svg {
  pointer-events: none;
  transform: scale(0);
  transition: 0.25s ease-in-out;
  width: 12px;
  height: 12px;
  color: var(--light-color);
}

/*end*/
.product-category .collection-header {
  margin: 40px 0;
  display: flex;
  align-items: center;
}
.product-category .collection-header .btn-filter-wrapper {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.product-category .collection-header .btn-filter-wrapper button svg {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 2px;
  position: relative;
  top: 2px;
  fill: currentColor;
}
.product-category .collection-header .layout-switch-wrapper {
  display: flex;
  align-items: center;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button {
  background: transparent;
  padding: 0;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button span {
  display: block;
  position: relative;
  border: 1px solid currentcolor;
  color: var(--switch-layout-color);
  height: 26px;
  margin: 0 5px;
  transition: 0.25s;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button span::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 20px;
  background: #666666;
  transition: 0.3s;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button .icon_view1 {
  width: 28px;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button .icon_view1::before {
  width: 22px;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button .icon_view2 {
  width: 29px;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button .icon_view2::before {
  box-shadow: 13px 0 0 var(--switch-layout-color), 13px 0 0 var(--switch-layout-color);
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button .icon_view3 {
  width: 42px;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button .icon_view3::before {
  box-shadow: 13px 0 0 var(--switch-layout-color), 26px 0 0 var(--switch-layout-color);
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button .icon_view4 {
  width: 55px;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button .icon_view4::before {
  box-shadow: 13px 0 0 var(--switch-layout-color), 26px 0 0 var(--switch-layout-color), 39px 0 0 var(--switch-layout-color);
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button .icon_view5 {
  width: 68px;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button .icon_view5::before {
  box-shadow: 13px 0 0 var(--switch-layout-color), 26px 0 0 var(--switch-layout-color), 39px 0 0 var(--switch-layout-color), 52px 0 0 var(--switch-layout-color);
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button .icon_view6 {
  width: 81px;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button .icon_view6::before {
  box-shadow: 13px 0 0 var(--switch-layout-color), 26px 0 0, 39px 0 0 var(--switch-layout-color), 52px 0 0, 65px 0 0 var(--switch-layout-color);
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button:hover {
  --switch-layout-color: #333333;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button:hover span::before {
  --switch-layout-color: #333333;
  background: #333333;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button.active {
  --switch-layout-color: #333333;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch button.active span::before {
  --switch-layout-color: #333333;
  background: #333333;
}
.product-category .collection-header .layout-switch-wrapper .layout__switch.is--tablet, .product-category .collection-header .layout-switch-wrapper .layout__switch.is--mobile {
  display: none !important;
}
@media (max-width: 1024px) {
  .product-category .collection-header .layout-switch-wrapper .layout__switch.is--desktop, .product-category .collection-header .layout-switch-wrapper .layout__switch.is--mobile {
    display: none !important;
  }
  .product-category .collection-header .layout-switch-wrapper .layout__switch.is--tablet {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .product-category .collection-header .layout-switch-wrapper .layout__switch.is--desktop, .product-category .collection-header .layout-switch-wrapper .layout__switch.is--tablet {
    display: none !important;
  }
  .product-category .collection-header .layout-switch-wrapper .layout__switch.is--mobile {
    display: block !important;
  }
}
.product-category .collection-header button[data-btn-as-a] {
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  color: #666666;
}
.product-category .collection-header .dropdown__sortby {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.product-category .collection-header .dropdown__sortby button svg {
  opacity: 1;
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  right: 12px;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transform: rotate(0);
}
.product-category .collection-header .dropdown__sortby button svg.active {
  transform: rotate(180deg);
}
.product-category .collection-header .dropdown__sortby button .txt-mobile {
  display: none;
}
@media (max-width: 767px) {
  .product-category .collection-header .dropdown__sortby button {
    padding: 7px 30px 7px 15px !important;
    border-radius: var(--btn-radius) !important;
    min-width: auto !important;
    min-height: auto !important;
    border: none !important;
  }
  .product-category .collection-header .dropdown__sortby button .txt-mobile {
    display: block !important;
  }
  .product-category .collection-header .dropdown__sortby button .txt-desktop {
    display: none !important;
  }
}
.product-category .collection-header .dropdown__sortby button[data-dropdown-open] {
  border: 1px solid var(--border-color);
  border-radius: 40px;
  padding: 7px 15px;
  min-width: 190px;
  background-color: transparent;
  color: var(--text-color);
  text-align: inherit;
  position: relative;
  z-index: 8;
  font-size: 14px;
  min-height: 40px;
}
.product-category .collection-header .dropdown__sortby .dropdown__wrapper {
  display: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 0;
  z-index: 468;
  width: 250px;
  position: absolute;
  margin-top: 10px;
  top: 40px;
}
.product-category .collection-header .dropdown__sortby .dropdown__wrapper .drop-arrow {
  display: block;
  background-color: #ffffff;
  position: absolute;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  top: -5px;
  left: 70%;
}
.product-category .collection-header .dropdown__sortby .dropdown__wrapper .dropdown__content {
  padding: 15px 0;
}
.product-category .collection-header .dropdown__sortby .dropdown__wrapper .dropdown__content button {
  padding: 10px 15px;
  display: block;
  background-color: transparent;
  color: var(--text-color);
  width: 100%;
  text-align: inherit;
  transition: 0.3s ease-in-out;
}
.product-category .collection-header .dropdown__sortby .dropdown__wrapper .dropdown__content button.active, .product-category .collection-header .dropdown__sortby .dropdown__wrapper .dropdown__content button:hover {
  background: rgba(var(--accent-color-rgb), 0.08);
  color: var(--accent-color);
}
.product-category .collection-header .dropdown__sortby .dropdown__wrapper.active {
  display: block;
}
.product-category .filter-area {
  display: none;
  padding: 30px;
  margin: 30px 0 40px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1490196078);
}
.product-category .list_product {
  margin-top: 0;
}
.product-category .list_product .show-tooltip {
  position: relative;
}
.product-category .list_product .show-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.product-category .list_product .show-tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  min-width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s;
  font-size: 12px;
  line-height: 1;
}
.product-category .list_product .show-tooltip .tooltiptext.tooltip-top {
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
}
.product-category .list_product .show-tooltip .tooltiptext.tooltip-top:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.product-category .list_product .show-tooltip .tooltiptext.tooltip-top-left {
  bottom: 125%;
  left: 0;
}
.product-category .list_product .show-tooltip .tooltiptext.tooltip-top-left:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.product-category .list_product .product-wrapper .pro-inner {
  position: relative;
  overflow: hidden;
}
.product-category .list_product .product-wrapper .pro-inner .pro-img a img {
  transition: opacity 0.5s, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
  width: 100%;
  transform-origin: center center;
}
.product-category .list_product .product-wrapper .pro-inner .pro-img a img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  overflow: hidden;
}
.product-category .list_product .product-wrapper .pro-inner .pro-btns a {
  border-radius: 9px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  position: relative;
  overflow: hidden;
  pointer-events: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  min-width: 136px;
  padding: 0 15px;
}
.product-category .list_product .product-wrapper .pro-inner:hover .pro-img a img:nth-of-type(2) {
  opacity: 1;
  overflow: hidden;
  transform: scale(1.1);
}
.product-category .list_product .product-wrapper .pro-inner:hover .pro-img a img:nth-of-type(1) {
  opacity: 0;
  overflow: hidden;
}
.product-category .list_product .product-wrapper .pro-inner:hover .pro-wishlist {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.product-category .list_product .product-wrapper .pro-inner:hover .pro-btns {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%);
}
.product-category .list_product .product-wrapper .pro-info {
  padding-top: 16.5px;
}
.product-category .list_product .product-wrapper .pro-info .pro-info__inner > * {
  margin-bottom: 6.5px;
}
.product-category .list_product .product-wrapper .pro-info .pro-info__inner .pro-title {
  font-size: 11px;
  font-weight: 400;
  color: #333333;
  text-transform: capitalize;
  letter-spacing: 0px;
  line-height: 16px;
  display: block;
  text-align: start;
}
.product-category .list_product .product-wrapper .pro-info .pro-info__inner .pro-price {
  font-size: 15px;
  font-weight: 600;
  text-align: start;
  color: #666666;
}
.product-category .list_product .product-wrapper .pro-info .pro-info__inner .pro-variant {
  text-align: start;
}
.product-category .list_product .product-wrapper .pro-info .pro-info__inner .pro-variant .pr-color__item {
  padding: 1px;
  margin: 4px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  display: inline-flex;
  vertical-align: top;
}
.product-category .list_product .product-wrapper .pro-info .pro-info__inner .pro-variant .pr-color__item .pr-color__value {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  text-align: center;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.product-category .list_product .product-wrapper .pro-info .pro-info__inner .pro-variant .pr-color__item .pr-color__value.sold-out::after {
  content: "";
  width: 90%;
  height: 1px;
  background: #222;
  display: block;
  position: absolute;
  z-index: 22;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}
.product-category .list_product .product-wrapper .pro-info .pro-info__inner .pro-variant .pr-color__item.active {
  background-color: #666666;
  border-color: #666666;
}
.product-category .list_product .product-wrapper .pro-btns2 {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-category .list_product .product-wrapper .pro-btns2 a > span {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-category .list_product .product-wrapper .pro-wishlist {
  opacity: 0;
  visibility: hidden;
  width: 22px;
  height: 22px;
  text-align: center;
  margin-bottom: 5px;
  position: relative;
  transform: translate(-5px);
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .product-category .list_product .product-wrapper .pro-wishlist {
    opacity: 1;
    visibility: visible;
  }
}
.product-category .list_product .product-wrapper .pro-wishlist .pro-icon {
  cursor: pointer;
}
.product-category .list_product .product-wrapper .pro-wishlist .pro-icon .active {
  color: #ffc556;
}
.product-category .list_product .product-wrapper .pro-wishlist .pro-text {
  display: none;
}
.product-category .list_product .product-wrapper .pro-btns {
  position: absolute;
  z-index: 3;
  transition: 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  pointer-events: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  flex-direction: column;
  transform: translateY(-100%);
}
.product-category .list_product .product-wrapper .pro-btns .pro-addtocart {
  color: #222;
  background-color: #ffffff;
}
.product-category .list_product .product-wrapper .pro-btns .pro-addtocart > span {
  transition: all 0.3s;
}
.product-category .list_product .product-wrapper .pro-btns .pro-addtocart > span svg {
  color: #ffffff;
}
.product-category .list_product .product-wrapper .pro-btns .pro-addtocart:hover {
  background-color: #222;
}
.product-category .list_product .product-wrapper .pro-btns .pro-addtocart:hover .pro-icon {
  left: 50%;
  transform: translate(-50%, 0);
}
.product-category .list_product .product-wrapper .pro-btns .pro-addtocart:hover .pro-text {
  transform: translateY(-100%);
}
.product-category .list_product .product-wrapper .pro-btns .pro-addtocart .pro-icon {
  text-align: center;
  position: absolute;
  color: #333333;
  left: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, 100%);
}
@media (max-width: 1199px) {
  .product-category .list_product .container .box-pro .row .col-lg-3 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .product-category .list_product .row .product-wrapper .pro-btns {
    opacity: 1;
    visibility: visible;
    height: 36px;
    top: auto;
    bottom: 5px;
    right: 5px;
    left: auto;
    transform: none;
    display: unset;
  }
  .product-category .list_product .row .product-wrapper .pro-btns .pro-addtocart {
    min-width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    line-height: 36px;
  }
  .product-category .list_product .row .product-wrapper .pro-btns .pro-addtocart .pro-text {
    display: none;
  }
  .product-category .list_product .row .product-wrapper .pro-btns .pro-addtocart .pro-icon {
    left: auto;
    top: auto;
    transform: none;
  }
  .product-category .list_product .row .product-wrapper .pro-btns .pro-addtocart .pro-icon svg {
    color: #000;
    width: 16px;
    height: 16px;
  }
  .product-category .list_product .row .product-wrapper .pro-btns .pro-addtocart:hover .pro-icon svg {
    color: #ffffff;
  }
}
@media (max-width: 767px) {
  .product-category .list_product .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .product-category .list_product .row [class^=col-] {
    padding-left: 5px;
    padding-right: 5px;
  }
  .product-category .list_product .row .product-wrapper .pro-info {
    padding-top: 5px;
  }
  .product-category .list_product .row .product-wrapper .pro-info .pro-info__inner .pro-variant {
    margin-bottom: 20px;
  }
  .product-category .list_product .row .product-wrapper .pro-btns {
    opacity: 1;
    visibility: visible;
    height: 36px;
    top: auto;
    bottom: 5px;
    right: 5px;
    left: auto;
    transform: none;
    display: unset;
  }
  .product-category .list_product .row .product-wrapper .pro-btns .pro-addtocart {
    min-width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    line-height: 36px;
  }
  .product-category .list_product .row .product-wrapper .pro-btns .pro-addtocart .pro-text {
    display: none;
  }
  .product-category .list_product .row .product-wrapper .pro-btns .pro-addtocart .pro-icon {
    left: auto;
    top: auto;
    transform: none;
  }
  .product-category .list_product .row .product-wrapper .pro-btns .pro-addtocart .pro-icon svg {
    color: #000;
    width: 16px;
    height: 16px;
  }
}
.product-category .prs-footer {
  margin-top: 10px;
  text-align: center;
}
.product-category .prs-footer .pagination-wrapper {
  border-top: 1px solid var(--border-color);
  margin-bottom: 60px;
  text-align: inherit !important;
  width: 100%;
}
.product-category .prs-footer .pagination-wrapper .pagination .pagination__list {
  display: inline-block;
  list-style: none;
  margin: 10px 0;
  padding: 5px 10px;
}
.product-category .prs-footer .pagination-wrapper .pagination .pagination__list li {
  float: left;
  margin: 0 10px;
  color: var(--dark-color);
}
.product-category .prs-footer .pagination-wrapper .pagination .pagination__list li .pagination__item {
  font-size: 13px;
  display: inline-block;
  list-style: none;
  margin: 10px 0;
  padding: 5px 10px;
}
.product-category .prs-footer .pagination-wrapper .pagination .pagination__list li .pagination__item.pagination__item--current {
  color: #ec0101;
}
.product-category .prs-footer .pagination-wrapper .pagination .pagination__list li a:hover {
  color: #ec0101;
}

.filter-native {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  max-width: 340px;
  width: calc(100vw - 65px);
  height: 100%;
  max-height: 100vh;
  max-height: none;
  z-index: 469;
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: var(--t4s-light-color);
  box-shadow: none;
  touch-action: manipulation;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: translate3d(-104%, 0, 0);
}
.filter-native .drawer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 0 0 0 20px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}
.filter-native .drawer__header span {
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--heading-color);
}
.filter-native .drawer__header .drawer__close {
  padding: 0;
  background-color: transparent;
  color: var(--dark-color);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-native .drawer__header .drawer__close svg {
  width: 16px;
  height: 16px;
  stroke-width: 1.5px;
  display: inline-block;
  transition: 0.5s ease 0s;
}
.filter-native .drawer__header .drawer__close:hover svg {
  transform: rotate(-180deg);
}
.filter-native .drawer__content {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.filter-native .drawer__content .drawer__main {
  position: relative;
  flex: 1 1 auto;
}
.filter-native .drawer__content .drawer__main .drawer__scroll {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
}
.filter-native .drawer__content .drawer__main .drawer__scroll .row {
  margin: 0;
}
.filter-native .drawer__content .drawer__main .drawer__scroll .facets__form {
  margin-top: 0;
}
.filter-native .drawer__content .drawer__main .drawer__scroll .facets__form .facet {
  padding: 20px;
  border-bottom: solid 1px var(--border-color);
}
.filter-native .drawer__content .drawer__main .drawer__scroll.current-scrollbar {
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.filter-native .drawer__content .drawer__main .drawer__scroll.current-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.filter-native .drawer__content .drawer__main .drawer__scroll.current-scrollbar::-webkit-scrollbar-track {
  background: #f2f2f2;
}
.filter-native .drawer__content .drawer__main .drawer__scroll.current-scrollbar::-webkit-scrollbar-thumb {
  background: #d5d5d5;
}
.filter-native.active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

.close-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 468;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.close-overlay.is--visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.25s, visibility;
}

.dropdown-mobile {
  background-color: var(--light-color);
  bottom: 0;
  left: 0;
  max-height: 80vh;
  position: fixed;
  width: 100%;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 500;
  will-change: transform, opacity, visibility;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(100%);
  transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.dropdown-mobile button[data-dropdown-open] {
  border: 1px solid var(--border-color);
  border-radius: 40px;
  padding: 7px 15px;
  min-width: 190px;
  background-color: transparent;
  color: var(--text-color);
  text-align: inherit;
  position: relative;
  z-index: 8;
  font-size: 14px;
  min-height: 40px;
}
.dropdown-mobile .dropdown__wrapper .dropdown__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 0 0 0 20px;
  border-bottom: 1px solid var(--border-color);
  color: var(--heading-color);
}
.dropdown-mobile .dropdown__wrapper .dropdown__header span {
  font-weight: 500;
  text-transform: uppercase;
}
.dropdown-mobile .dropdown__wrapper .dropdown__header button {
  padding: 0;
  background-color: transparent;
  color: var(--dark-color);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-mobile .dropdown__wrapper .dropdown__header button svg {
  width: 16px;
  height: 16px;
  stroke-width: 1.5px;
  display: inline-block;
  pointer-events: none;
  position: unset;
}
.dropdown-mobile .dropdown__wrapper .drop-arrow {
  display: block;
  background-color: #ffffff;
  position: absolute;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  top: -5px;
  left: 70%;
}
.dropdown-mobile .dropdown__wrapper .dropdown__content {
  padding: 15px 0;
}
.dropdown-mobile .dropdown__wrapper .dropdown__content button {
  padding: 10px 15px;
  display: block;
  background-color: transparent;
  color: var(--text-color);
  width: 100%;
  text-align: inherit;
  transition: 0.3s ease-in-out;
}
.dropdown-mobile .dropdown__wrapper .dropdown__content button.active, .dropdown-mobile .dropdown__wrapper .dropdown__content button:hover {
  background: rgba(var(--accent-color-rgb), 0.08);
  color: var(--accent-color);
}
.dropdown-mobile .dropdown__wrapper.active {
  display: block;
}
.dropdown-mobile.active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

/*end*/
/*footer*/
footer {
  background-color: #f5f6f6;
}
footer .section-footer {
  padding-top: 55px;
  padding-bottom: 78px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  footer .section-footer .row .col-lg-3,
  footer .section-footer .row .col-lg-15,
  footer .section-footer .row .col-lg-4 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 992px) {
  footer .section-footer .col-lg-15 {
    width: 20%;
  }
}
@media (max-width: 767px) {
  footer .section-footer .col-md-6:first-child {
    margin-top: 0 !important;
  }
  footer .section-footer .footer-wrap {
    padding: 0 10px;
  }
  footer .section-footer .footer-wrap .footer-mobile {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }
  footer .section-footer .footer-wrap .footer-mobile h3 {
    margin-bottom: 0 !important;
    margin-top: 0;
  }
  footer .section-footer .footer-wrap .footer-mobile .footer-collapse-icon {
    width: 12px;
    height: 12px;
    position: relative;
    display: block;
    flex: 0 0 auto;
  }
  footer .section-footer .footer-wrap .footer-mobile .footer-collapse-icon::before, footer .section-footer .footer-wrap .footer-mobile .footer-collapse-icon::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: currentColor;
    transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
  }
  footer .section-footer .footer-wrap .footer-mobile .footer-collapse-icon::before {
    width: 12px;
    height: 1px;
  }
  footer .section-footer .footer-wrap .footer-mobile .footer-collapse-icon::after {
    width: 1px;
    height: 12px;
  }
  footer .section-footer .footer-wrap .footer-desktop {
    display: none !important;
  }
  footer .section-footer .footer-wrap .footer-content {
    display: none;
  }
  footer .section-footer .footer-wrap .footer-content .ft-menu {
    margin-top: 15px;
  }
  footer .section-footer .footer-wrap.is--footer_opened .footer-mobile .footer-collapse-icon::before {
    opacity: 0;
  }
  footer .section-footer .footer-wrap.is--footer_opened .footer-mobile .footer-collapse-icon::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
footer .section-footer [class^=col-] {
  margin-top: 30px;
}
footer .section-footer .footer-wrap .footer-heading h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #666666;
  margin-bottom: 28px;
}
footer .section-footer .footer-wrap .footer-mobile {
  display: none;
}
footer .section-footer .footer-wrap .footer-content .ft-text p span {
  font-size: 14px;
}
footer .section-footer .footer-wrap .footer-content .ft-socials-block .ft-list-socials {
  display: flex;
  justify-content: start;
  align-items: center;
}
footer .section-footer .footer-wrap .footer-content .ft-socials-block .ft-list-socials a {
  padding: 0 10px;
  background-color: transparent !important;
  min-height: 24px;
}
footer .section-footer .footer-wrap .footer-content .ft-socials-block .ft-list-socials a:last-child {
  margin-right: 0;
}
footer .section-footer .footer-wrap .footer-content .ft-socials-block .ft-list-socials a:first-child {
  padding-left: 0;
}
footer .section-footer .footer-wrap .footer-content .ft-socials-block .ft-list-socials a svg {
  fill: #666666;
  opacity: 0.8;
  display: inline-block;
  vertical-align: middle;
  border: none;
  height: 18px;
  width: 18px;
  transition: all 0.5s;
}
footer .section-footer .footer-wrap .footer-content .ft-socials-block .ft-list-socials a.facebook:hover svg {
  fill: rgb(59, 89, 152);
  transform: translateY(-5px);
}
footer .section-footer .footer-wrap .footer-content .ft-socials-block .ft-list-socials a.instagram:hover svg {
  fill: rgb(224, 53, 102);
  transform: translateY(-5px);
}
footer .section-footer .footer-wrap .footer-content .ft-socials-block .ft-list-socials a.twitter:hover svg {
  fill: rgb(29, 161, 242);
  transform: translateY(-5px);
}
footer .section-footer .footer-wrap .footer-content .ft-socials-block .ft-list-socials a.linkedin:hover svg {
  fill: rgb(0, 119, 181);
  transform: translateY(-5px);
}
footer .section-footer .footer-wrap .footer-content .ft-socials-block .ft-list-socials a.youtobe:hover svg {
  fill: rgb(205, 32, 31);
  transform: translateY(-5px);
}
footer .section-footer .footer-wrap .footer-content .ft-menu .ft-linklist {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .section-footer .footer-wrap .footer-content .ft-menu .ft-linklist li {
  list-style: none;
  margin-right: 0;
  margin-bottom: 10px;
}
footer .section-footer .footer-wrap .footer-content .ft-menu .ft-linklist li a {
  color: #8a8b8c;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
footer .section-footer .footer-wrap .footer-content .ft-menu .ft-linklist li a:hover {
  color: #ffc556;
}
footer .section-footer .footer-wrap .footer-content .ft-newsletter-parent {
  margin-bottom: 20px;
  margin-top: -5px;
}
footer .section-footer .footer-wrap .footer-content .ft-newsletter-parent form {
  position: relative;
}
footer .section-footer .footer-wrap .footer-content .ft-newsletter-parent form .newsletter__fields .newsletter__inner {
  padding: 0;
  border: none;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
}
footer .section-footer .footer-wrap .footer-content .ft-newsletter-parent form .newsletter__fields .newsletter__inner .is--col-email {
  flex: 1 0 0%;
  width: 100%;
  max-width: 100%;
}
footer .section-footer .footer-wrap .footer-content .ft-newsletter-parent form .newsletter__fields .newsletter__inner .is--col-email .newsletter__email {
  border-width: 1px;
  border-style: solid;
  line-height: 22px;
  border-right: 0;
  width: 100%;
  padding: 13px 15px;
}
footer .section-footer .footer-wrap .footer-content .ft-newsletter-parent form .newsletter__fields .newsletter__inner .is--col-btn {
  min-width: 111px;
}
footer .section-footer .footer-wrap .footer-content .ft-newsletter-parent form .newsletter__fields .newsletter__inner .is--col-btn .newsletter__submit {
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 15px;
  margin: 0;
  line-height: 24px;
  border: none;
  background-color: #666666;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;
  min-width: 111px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
footer .section-footer .footer-wrap .footer-content .ft-newsletter-parent form .newsletter__fields .newsletter__inner .is--col-btn .newsletter__submit .newsletter__text {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .section-footer .footer-wrap .footer-content .payment-footer-svg {
  margin-bottom: 20px;
  height: 30px;
}
footer .section-footer .footer-wrap .footer-content .payment-footer-svg img {
  padding: 2.5px;
  height: 30px;
}
footer .section-bottom-bar {
  padding-bottom: 5px;
}
footer .section-bottom-bar .bl-bt-bar-1 {
  text-align: start;
}
@media (max-width: 767px) {
  footer .section-bottom-bar .bl-bt-bar-1 {
    text-align: center;
  }
}
footer .section-bottom-bar .bl-bt-bar-1 .coppy-right {
  font-size: 12px;
  color: #333333;
  line-height: 22px;
  font-weight: 400;
}
footer .section-bottom-bar .bl-bt-bar-2 {
  text-align: end;
}
@media (max-width: 767px) {
  footer .section-bottom-bar .bl-bt-bar-2 {
    text-align: center;
  }
}
footer .section-bottom-bar .bl-bt-bar-2 .ft-style2 .ft-linklist {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .section-bottom-bar .bl-bt-bar-2 .ft-style2 .ft-linklist li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 10px;
}
footer .section-bottom-bar .bl-bt-bar-2 .ft-style2 .ft-linklist li a {
  color: #666666;
  font-size: 12px;
  font-weight: 400;
}
footer .section-bottom-bar .bl-bt-bar-2 .ft-style2 .ft-linklist li a:hover {
  color: #ffc556;
}
@media (max-width: 1199px) {
  footer {
    margin-bottom: 55px;
  }
}

/*end-footer*/
/*top bar bt*/
.shopify-section-toolbar_mobile {
  position: fixed;
  bottom: 0;
  background: #fff;
  height: 55px;
  width: 100%;
  z-index: 190;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1215686275);
  transition: transform 0.25s;
  display: none;
}
@media (max-width: 1024px) {
  .shopify-section-toolbar_mobile {
    display: block;
  }
}
.shopify-section-toolbar_mobile .toolbar {
  padding: 5px;
}
.shopify-section-toolbar_mobile .toolbar .toolbar-item {
  text-align: center;
  position: relative;
}
.shopify-section-toolbar_mobile .toolbar .toolbar-item a {
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 45px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  padding-bottom: 15px;
}
.shopify-section-toolbar_mobile .toolbar .toolbar-item a .toolbar-label {
  position: absolute;
  bottom: 5px;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1;
  color: #333333;
}
.shopify-section-toolbar_mobile .toolbar .toolbar-item a .toolbar-icon {
  position: relative;
  color: #333333;
}
.shopify-section-toolbar_mobile .toolbar .toolbar-item a .toolbar-icon svg {
  width: 20px;
  height: 20px;
}
.shopify-section-toolbar_mobile .toolbar .toolbar-item a .toolbar-icon .count-box {
  position: absolute;
  width: 15px;
  height: 15px;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3019607843);
  opacity: 1;
  transition: 0.3s ease-in-out;
  background-color: #ffc556;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  top: -5px;
  right: -9px;
}

/*end*/

/*# sourceMappingURL=category.css.map */
