@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translateZ(0);
  }
}
@keyframes modal-opening {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animation-fadeInUp {
  animation: fadeInUp 1.5s both;
}

/* slider */
.list_slider .slide_item {
  position: relative;
}
.list_slider .slide_item .slide_item_content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.list_slider .slide_item .slide_item_content h5 {
  color: #ffffff;
  font-size: 62px;
  font-weight: 600;
  opacity: 0;
  line-height: 62px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px;
  margin-bottom: 18px;
}
.list_slider .slide_item .slide_item_content p {
  opacity: 0;
  color: #ffffff;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px;
}
.list_slider .slide_item .slide_item_content a {
  opacity: 0;
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%) !important;
  color: #333333;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 0 44px;
}
.list_slider .slide_item .slide_item_content a:hover {
  background-color: #ffc556;
}
.list_slider .slick-dots {
  bottom: 15px;
}
.list_slider .slick-dots li {
  width: auto;
}
.list_slider .slick-dots li button {
  transition: all 0.3s;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #222222;
  opacity: 0.5;
  padding: 0;
}
.list_slider .slick-dots li button::before {
  content: "";
}
.list_slider .slick-dots li.slick-active button {
  opacity: 1;
  width: 30px;
}
.list_slider .slick-arrow {
  opacity: 0;
  visibility: hidden;
  top: 50%;
  transform: translateY(-50%) !important;
  transition: all 0.3s;
  background-color: #ffffff;
  z-index: 3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  box-shadow: 0 2px 10px rgba(54, 54, 54, 0.1490196078);
}
.list_slider .slick-arrow:before {
  content: "";
}
.list_slider .slick-arrow:hover {
  color: #ffc556;
  background-color: #ffc556;
}
.list_slider .slick-arrow svg {
  width: 16px;
  height: 16px;
}
.list_slider .pull-left {
  left: 3%;
}
.list_slider .pull-right {
  right: 3%;
}
.list_slider .container:hover .slick-arrow {
  opacity: 1;
  visibility: visible;
}
.list_slider .container:hover .pull-left {
  left: 2.5%;
}
.list_slider .container:hover .pull-right {
  right: 2.5%;
}
.list_slider .slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* end slider */
/* product list */
.list_product {
  margin-bottom: 60px;
}
.list_product .product-wrapper .pro-inner {
  position: relative;
  overflow: hidden;
}
.list_product .product-wrapper .pro-inner .pro-img a img {
  transition: opacity 0.5s, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
  width: 100%;
  transform-origin: center center;
}
.list_product .product-wrapper .pro-inner .pro-img a img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  overflow: hidden;
}
.list_product .product-wrapper .pro-inner .pro-btns a {
  border-radius: 9px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  position: relative;
  overflow: hidden;
  pointer-events: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  min-width: 136px;
  padding: 0 15px;
}
.list_product .product-wrapper:hover .pro-inner .pro-img a img:nth-of-type(2) {
  opacity: 1;
  overflow: hidden;
  transform: scale(1.1);
}
.list_product .product-wrapper:hover .pro-inner .pro-img a img:nth-of-type(1) {
  opacity: 0;
  overflow: hidden;
}
.list_product .product-wrapper:hover .pro-inner .pro-wishlist {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.list_product .product-wrapper:hover .pro-inner .pro-btns {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%);
}
.list_product .product-wrapper .pro-info {
  padding-top: 16.5px;
}
.list_product .product-wrapper .pro-info .pro-info__inner > * {
  margin-bottom: 6.5px;
}
.list_product .product-wrapper .pro-info .pro-info__inner .pro-title {
  font-size: 11px;
  font-weight: 400;
  color: #333333;
  text-transform: capitalize;
  letter-spacing: 0px;
  line-height: 16px;
  display: block;
  text-align: center;
}
.list_product .product-wrapper .pro-info .pro-info__inner .pro-price {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #666666;
}
.list_product .product-wrapper .pro-btns2 {
  position: absolute;
  z-index: 3;
  top: 12px;
  left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list_product .product-wrapper .pro-btns2 a > span {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list_product .product-wrapper .pro-wishlist {
  opacity: 0;
  visibility: hidden;
  width: 22px;
  height: 22px;
  text-align: center;
  margin-bottom: 5px;
  position: relative;
  transform: translate(-5px);
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.list_product .product-wrapper .pro-wishlist .pro-icon i {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.list_product .product-wrapper .pro-wishlist .pro-text {
  display: none;
}
.list_product .product-wrapper .pro-btns {
  position: absolute;
  z-index: 3;
  transition: 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  pointer-events: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  flex-direction: column;
  transform: translateY(-100%);
}
.list_product .product-wrapper .pro-btns .pro-addtocart {
  color: #222;
  background-color: #ffffff;
}
.list_product .product-wrapper .pro-btns .pro-addtocart > span {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list_product .product-wrapper .pro-btns .pro-addtocart:hover {
  background-color: #222;
}
.list_product .product-wrapper .pro-btns .pro-addtocart:hover .pro-icon {
  left: 50%;
  transform: translate(-50%, 0);
}
.list_product .product-wrapper .pro-btns .pro-addtocart:hover .pro-text {
  transform: translateY(-100%);
}
.list_product .product-wrapper .pro-btns .pro-addtocart .pro-icon {
  text-align: center;
  position: absolute;
  color: #333333;
  top: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

/* end product list */
/* category list  */
.list_categories {
  margin-top: 10px;
}
.list_categories .category_block {
  background-color: #f0f0f0;
  padding: 30px 120px;
}
.list_categories .category_block .cat-content {
  display: block;
  vertical-align: top;
  overflow: hidden;
}
.list_categories .category_block .cat-content .cat-content_img {
  max-width: 170px;
  max-height: 170px;
  overflow: hidden;
  border-radius: 50%;
}
.list_categories .category_block .cat-content .cat-content_img img {
  width: 100%;
}
.list_categories .category_block .cat-content .cate-wrapper {
  max-width: 150px;
  height: 44px;
  padding: 0;
}
.list_categories .category_block .cat-content .cate-wrapper .cat-title {
  min-height: 24px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  height: 100%;
}

/* end category list  */
/* block_2 slide */
.list_slider.block_2 {
  margin-bottom: 60px;
}
.list_slider.block_2 .slide_item .slide_item_content {
  top: 70%;
  left: 50%;
  width: 100%;
  text-align: center;
}
.list_slider.block_2 .slide_item .slide_item_content a {
  left: 0;
  transform: translate(0) !important;
}

/* end block_2 slide */
/* block_3 slide */
.list_slider.block_3 .slide_item_content {
  left: 32.5%;
}
.list_slider.block_3 .slide_item_content p {
  color: #222222;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 25px;
  letter-spacing: 0px;
  font-weight: 400;
  opacity: 1;
  text-shadow: none;
}
.list_slider.block_3 .slide_item_content p.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* end block_3 slide */
/* block instagram */
.list_instagram {
  padding: 60px;
}
.list_instagram .row {
  margin: 0;
}
.list_instagram [class^=col-] {
  padding: 0;
}
.list_instagram .top_heading {
  margin-bottom: 10px;
}
.list_instagram .ins-eff {
  position: relative;
  z-index: 3;
  display: block;
  vertical-align: top;
  overflow: hidden;
}
.list_instagram .ins-eff:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 2;
  pointer-events: none;
}
.list_instagram .ins-eff .ins-info .ins-icon {
  display: block;
  position: absolute;
  z-index: 5;
  top: 50%;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.list_instagram .ins-eff .ins-info .ins-icon i {
  font-size: 24px;
  color: #ffffff;
}
.list_instagram .ins-eff:hover:before {
  opacity: 0.3;
}
.list_instagram .ins-eff:hover .ins-info .ins-icon {
  opacity: 1;
}
.list_instagram .ins-eff:hover .ins-radio img {
  transform: scale(1.1);
  transition: opacity 0.5s, transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
  transform: scale(1.1);
}

/* end block instagram */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  opacity: 0.6 !important;
  animation: none !important;
  cursor: pointer;
}
.modal .modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
  animation: modal-opening 0.3s forwards;
}
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.modal .close:hover, .modal .close:focus {
  color: black;
}

/*# sourceMappingURL=styles.css.map */
