.bala_mb_30 {
    margin-bottom: 30px
}
.bala_mb_20 {
    margin-bottom: 20px
}
.bala_mb_10 {
    margin-bottom: 10px
}
@keyframes ani-fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
@keyframes bar-progress {
    from {
        background-position: 0 0
    }

    to {
        background-position: -60px -60px
    }
}
@-webkit-keyframes skeletonAnimation { 
    0% { opacity: 0.45; }
    100% { opacity: 0.9; }
}
@keyframes skeletonAnimation { 
    0% { opacity: 0.45; }
    100% { opacity: 0.9; }
}
.close-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 468;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    background: rgba(0,0,0,.7);
    transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
    &.is--visible {
        pointer-events: auto;
        opacity: 1;
        visibility: visible;
        transition: opacity .25s,visibility;
    }
}
.lock-scroll {
    overflow: hidden;
}
.skeleton_wrap{
    padding: 20px;
    animation: 0.45s linear 0s infinite alternate none running skeletonAnimation;
    will-change: opacity;
    display: none;
    .skeleton_img{
        background: rgb(225, 227, 228);
        padding-bottom: 100%;
        width: 80px;
    }
    .skeleton_txt1, .skeleton_txt2 {
        height: 10px;
        width: 100%;
        background: rgb(225, 227, 228);
        margin-bottom: 8px;
    }
    .skeleton_txt2
    {
        width: 38%;
        margin-bottom: 0px;
    }
}

input, select, textarea {
    font-size: 13px;
    outline: 0;
    padding: 10px 15px;
    transition: border-color .5s;
    border-color: #f0f0f0;
    &:focus {
        border-color: rgba(102, 102, 102,.8);
        outline: none;
    }
}
.show-tooltip {
    position: relative;
    &:hover {
        .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }
    .tooltiptext {
        visibility: hidden;
        position: absolute;
        min-width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px;
        z-index: 1;
        opacity: 0;
        transition: opacity .6s;
        font-size: 12px;
        line-height: 1;
        &.tooltip-top {
            bottom: 125%;
            left: 50%;
            transform: translateX(-50%);
            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }
        }
        &.tooltip-top-left {
            bottom: 125%;
            left: 0;
            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 10px;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }
        }
    }
}

.drawer-menu__close {
    position: fixed;
    top: 0;
    color: #fff;
    z-index: 10000;
    background-color: #333333;
    -webkit-transform: translate3d(-104%,0,0);
    transform: translate3d(-104%,0,0);
    transition: opacity .3s cubic-bezier(.645,.045,.355,1),transform .5s cubic-bezier(.645,.045,.355,1);
    width: 50px;
    height: 50px;
    padding: 0;
    pointer-events: none;
    left: calc(100vw - 65px);
    opacity: 0;
    .iconsvg-close {
        width: 20px;
        height: 20px;
    }
    &.is--active {
        opacity: 1;
        -webkit-transform: none!important;
        transform: none!important;
        pointer-events: auto;
    }
}

//sidebar
.bala-sidebar {
    max-height: none;
    z-index: 469;
    transition: transform .5s cubic-bezier(.645, .045, .355, 1),visibility .5s cubic-bezier(.645, .045, .355, 1);
    background: #fff;
    box-shadow: none;
    touch-action: manipulation;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    visibility: hidden;
    position: fixed;
    opacity: 1;
    right: 0;
    -webkit-transform: translate3d(104%,0,0);
    transform: translate3d(104%,0,0);
    width: calc(100vw - 65px);
    top: 0;
    .bala_btn_submmit {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        overflow: hidden;
        line-height: 1;
        transition: .3s ease-in-out;
        color: #fff;
        background-color: #ffc556;
        border-color: #ffc556;
        padding: 0 34px;
        font-size: 14px;
        height: 40px;
        font-weight: 600;
        border-radius: 40px;
        width: 100%;
        &:before {
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ffc556;
            border-color: #ffc556;
            position: absolute;
            z-index: -1;
            border-radius: inherit;
            opacity: 0;
            visibility: hidden;
        }
        &:hover {
            background-color: #ffab0a;
            opacity: .8!important;
            border-color: #ffab0a;
            &:before {
                opacity: 1;
                visibility: visible;
                background-color: #ffab0a;
                border-color: #ffab0a;
            }
        }
    }
    .bala_btn_submmit_2 {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        overflow: hidden;
        line-height: 1;
        transition: .3s ease-in-out;
        color: #333333;
        background-color: #fff;
        padding: 0 34px;
        font-size: 14px;
        height: 40px;
        font-weight: 600;
        border-radius: 40px;
        width: 100%;
        border: 2px solid #333333;
        &:hover {
            background: transparent;
            opacity: .8!important;
        }
    }
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #dadada; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #f4f4f4; 
    }
    &.is-active {
        pointer-events: auto;
        visibility: visible;
        transform: none;
        -webkit-transform: none;
        opacity: 1;
    }
    @media screen and (min-width: 641px) {
        width: 340px;
    }
    .drawer__header {
        padding: 5px 0 5px 20px;
        border-bottom: solid 1px #f0f0f0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 50px;
        span {
            display: none;
            font-weight: 500;
            line-height: 1.428;
            font-size: 16px;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            color: #222222;
            text-transform: uppercase;
            &.is-active {
                display: block;
            }
        }
        .drawer__close {
            padding: 0;
            background-color: transparent;
            color: #222222;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:not(:hover) .iconsvg-close {
                transform: rotate(-180deg);
            }
            .iconsvg-close {
                transition: .5s ease 0s;
                width: 16px;
                height: 16px;
                stroke-width: 1.5px;
                display: inline-block;
                pointer-events: none;
            }
        }
    }
    .drawer__content {
        display: flex;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: justify;
        justify-content: space-between;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .drawer__main {
            position: relative;
            flex: 1 1 auto;
        }
        .drawer__scroll {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-height: 100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
        .content-login-sidebar {
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            font-size: 14px;
            font-weight: 400;
            color: #666666;
            display: none;
            line-height: 1.428;
            &.is-active {
                display: block;
                -webkit-animation: 1.25s ani-fadeIn;
                animation: 1.25s ani-fadeIn;
            }
            .bala_field {
                position: relative;
                ::-webkit-input-placeholder {
                    /* WebKit browsers */
                    color: transparent;
                }
                :-moz-placeholder {
                    /* Mozilla Firefox 4 to 18 */
                    color: transparent;
                }
                ::-moz-placeholder {
                    /* Mozilla Firefox 19+ */
                    color: transparent;
                }
                :-ms-input-placeholder {
                    /* Internet Explorer 10+ */
                    color: transparent;
                }
                input::placeholder {
                    color: transparent;
                }
                textarea::-webkit-input-placeholder {
                    /* WebKit browsers */
                    color: transparent;
                }
                textarea:-moz-placeholder {
                    /* Mozilla Firefox 4 to 18 */
                    color: transparent;
                }
                textarea::-moz-placeholder {
                    /* Mozilla Firefox 19+ */
                    color: transparent;
                }
                textarea:-ms-input-placeholder {
                    /* Internet Explorer 10+ */
                    color: transparent;
                }
                textarea::placeholder {
                    color: transparent;
                }
                .bala_frm_input {
                    -webkit-appearance: none;
                    display: block;
                    padding: 12px 14px;
                    border-radius: 0;
                    border: 1px solid #f0f0f0;
                    width: 100%;
                    line-height: normal;
                    resize: none;
                    transition: border-color .1s ease-in-out;
                    background: 0 0;
                    &:focus,
                    &:not(:placeholder-shown) {
                        padding: 18px 14px 6px;
                        border-color: rgba(102, 102, 102,.8);
                        outline: none;
                        &~label {
                            transform: translateY(-6px) scale(.8);
                        }
                    }
                }
                label {
                    position: absolute;
                    top: 0;
                    left: 14px;
                    transform: scale(1);
                    transform-origin: left top;
                    transition: transform .2s ease-in-out;
                    pointer-events: none;
                    display: flex;
                    align-items: center;
                    height: 100%;
                }
            }
            .button-action {
                color: #333;
                cursor: pointer;
                text-decoration: underline;
                transition: all .25s ease;
                &:hover {
                    color: #ffc556;
                }
            }
            .note-recover {
                margin-bottom: 20px;
                margin-top: 0;
                line-height: 19.992px;
                color: #666666;
                font-size: 14px;
            }
        }
    }
    .drawer__bottom {
        padding: 20px;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        border-top: 1px solid rgba(240, 240, 240,.7);
        box-shadow: 0 0 10px 0 rgba(240, 240, 240,.7);
        &:last-child {
            margin-bottom: 0;
        }
        .cart_discounts {
            padding-left: 0;
            font-weight: 500;
            color: #ec0101;
            margin-bottom: 5px;
            margin-top: 0;
            font-size: 13px;
            svg {
                width: 14px;
                height: auto;
                fill: currentColor;
                position: relative;
                top: 2px;
            }
        }
        .cart-total {
            margin-bottom: 8px;
            color: #333333;
            font-size: 18px;
            justify-content: space-between;
            display: flex;
            align-items: center;
            .col-price {
                font-weight: 600;
                text-align: right;
                .cart__originalPrice, .cart__discountPrice {
                    display: inline-block;
                    font-size: 16px;
                }
            }
        }
        .cart__tax {
            font-size: 13px;
            margin-bottom: 5px;
            color: #666666;
        }
        .btn__cart {
            background-color: #f7f7f7;
            color: #222222;
            margin-bottom: 20px;
            margin-top: 10px;
        }
    }

    &#cart-sidebar {
        .overlay-cart {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            z-index: 4;
            background-color: #ffffff;
            pointer-events: none;
            -webkit-transition: opacity .5s;
            transition: opacity .5s;
        }
        &.is--contentUpdate .overlay-cart {
            opacity: .4;
            pointer-events: auto;
        }
        .drawer__header {
            padding: 0 0 0 20px;
        }
        .cart__threshold {
            font-size: 13px;
            padding: 10px 20px 4px;
            border-bottom: 1px solid rgba(240, 240, 240,.7);
            box-shadow: 0 0 10px 0 rgba(240, 240, 240,.7);
            line-height: normal;
            color: #666666;
            .cr {
                font-weight: 500;
                color: #f0f0f0;
            }
            .ch {
                font-weight: 500;
                color: #333333;
            }
            .cart__thres {
                font-size: 13px;
            }
            .cart-thes__bar {
                position: relative;
                width: 100%;
                height: 9px;
                background-color: rgba(102, 102, 102,.15);
                border-radius: 5px;
                margin: 13.5px 0 10px;
                span {
                    position: relative;
                    height: 100%;
                    width: 0;
                    border-radius: 5px;
                    background-color: #f0f0f0;
                    transition: width .4s ease-in-out;
                    animation: 5s linear infinite bar-progress;
                    background-size: 1rem 1rem;
                    background-image: linear-gradient(135deg,rgba(255,255,255,.15) 0,rgba(255,255,255,.15) 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
                    display: block;
                    svg {
                        position: absolute;
                        top: -12px;
                        width: 22px;
                        fill: #f0f0f0;
                        padding: 0;
                        border-radius: 12px;
                        line-height: 1;
                        text-shadow: 0 0 8px rgb(0 0 0 / 50%);
                        left: 100%;
                        right: auto;
                        .ship-secondary {
                            fill: #ffffff;
                        }
                    }
                }
            }
        }
        .mini_cart__emty {
            margin-top: 40px;
            text-align: center;
            svg#icon-cart-emty {
                width: 55px;
                height: auto;
                margin-bottom: 10px;
            }
            p {
                margin-top: 0;
                margin-bottom: 20px;
                font-size: 13px;
                color: #666666;
            }
            .return-to-shop {
                padding: 0 20px;
                margin-bottom: 15px;
                .btn-cart__emty {
                    max-width: 200px;
                    min-width: 180px;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 700;
                    min-height: 40px;
                    padding: 5px 25px;
                    cursor: pointer;
                    svg {
                        width: 14px;
                        height: 14px;
                        margin-left: 4px;
                        margin-top: 4px;
                    }
                }
            }
        }
        .mini_cart__item {
            padding: 20px;
            border-bottom: 1px solid rgba(240, 240, 240,.8);
            transition: background-color .3s;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            &:last-child {
                border-bottom: 0;
            }
            .mini_cart__img {
                width: 120px;
                display: block;
                margin-right: 20px;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                max-width: 100%;
            }
            .mini_cart__info {
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                max-width: 100%;
                position: relative;
                overflow: hidden;
                .mini_cart__title {
                    font-size: 14px;
                    line-height: 20px;
                    color: #333333;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .mini_cart__meta {
                    font-size: 12px;
                    color: #666666;
                    .cart_meta_variant {
                        margin: 0;
                    }
                    .cart_meta_price {
                        font-size: 14px;
                        color: #666666;
                        .cart_price {
                            font-size: 14px;
                        }
                    }
                }
                .mini_cart__actions {
                    margin-top: 15px;
                    .quantity-cart-item {
                        min-width: 120px;
                        width: 120px;
                        height: 40px;
                        border: 1px solid #333333;
                        text-align: center;
                        border-radius: 40px;
                        display: block;
                        margin-bottom: 15px;
                        position: relative;
                        button {
                            position: absolute;
                            display: block;
                            padding: 0;
                            top: 0;
                            width: 30px;
                            height: 40px;
                            line-height: 40px;
                            border: 0;
                            background: 0 0;
                            color: #333333;
                        }
                        input[type=number] {
                            -moz-appearance: textfield;
                            width: 35px;
                            border: 0;
                            height: 38px;
                            background: 0 0;
                            padding: 0;
                            font-weight: 600;
                            font-size: 16px;
                            color: #333333;
                            text-align: center;
                            margin: 0;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            outline: 0;
                            transition: border-color .5s;
                        }
                        .is--minus {
                            left: 0;
                            text-align: left;
                            padding-left: 15px;
                            top: -5px;
                        }
                        .is--plus {
                            right: 0;
                            text-align: right;
                            padding-right: 15px;
                        }
                    }
                    .mini_cart__edit, .mini_cart__remove {
                        color: #333333;
                        display: inline-block;
                        margin-right: 10px;
                        text-decoration: none;
                        transition: all .25s ease;
                        svg {
                            width: 20px;
                            height: 20px;
                            stroke-width: 1.5;
                        }
                        &:hover {
                            color: #ffc556;
                        }
                    }
                }
            }
        }
        .mini_cart__tool {
            background-color: #f5f5f5;
            transition: opacity .1s ease-in-out,visibility .1s ease-in-out;
            text-align: center;
            >div {
                border: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin: 16px 8px;
                width: 50px;
                line-height: 50px;
                height: 50px;
                border-radius: 50%;
                box-shadow: 9px 5px 10px #dfe3ea, -5px -5px 10px #faffff;
                transition: background-color .3s;
                text-align: center;
                color: #333333;
                cursor: pointer;
                font-weight: 500;
                position: relative;
                &:hover {
                    background-color: #f9f9f9;
                    box-shadow: inset 5px 5px 10px #dfe3ea, inset -5px -5px 10px #faffff;
                }
            }
            svg {
                width: 25px;
                height: auto;
            }
        }
        .mini_cart-tool__content {
            padding: 20px;
            position: fixed;
            width: inherit;
            left: inherit;
            right: inherit;
            bottom: 0;
            z-index: 4;
            background-color: #fff;
            -webkit-transform: translateY(104%);
            transform: translateY(104%);
            -webkit-transition: -webkit-transform .25s ease-in-out;
            transition: transform .25s ease-in-out;
            transition: transform .25s ease-in-out,-webkit-transform .25s ease-in-out;
            border-top: 1px solid rgba(129,129,129,.2);
            box-shadow: 0 0 10px #81818133;
            overflow-y: auto;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            max-height: 100%;
            &.is--opend {
                z-index: 8;
                opacity: 1;
                pointer-events: auto;
                -webkit-transform: none;
                transform: none;
            }
            .txt_add_note, .txt_edit_note, .txt_add_discount {
                color: #333333;
                font-size: 15px;
                margin-top: 0;
                font-weight: 500;
            }
            .desc {
                color: #666666;
                font-size: 13px;
                margin-top: 0;
                margin-bottom: 20px;
            }
            input {
                border: 1px solid #f0f0f0;
                font-size: 13px;
                outline: 0;
                padding: 0 15px;
                color: #666666;
                max-width: 100%;
                width: 100%;
                height: 40px;
                line-height: 18px;
                transition: border-color .5s;
                box-shadow: none;
                border-radius: 0;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-radius: 40px;
                &:focus {
                    border-color: rgba(102, 102, 102,.8);
                    outline: none;
                }
            }
            #CartSpecialInstructions {
                min-height: 100px;
                color: #333333;
                padding: 8px 10px;
                width: 100%!important;
                resize: none;
                border-radius: 0;
                margin-top: 10px;
            }
        }
    }
    &#search-sidebar {
        .mini-search__frm {
            padding: 30px 20px;
            border-bottom: 1px solid rgba(240, 240, 240,.8);
            .mini-search__cat {
                margin-bottom: 20px;
                select {
                    border: 1px solid #f0f0f0;
                    height: 40px;
                    outline: 0;
                    max-width: 100%;
                    width: 100%;
                    vertical-align: middle;
                    font-size: 14px;
                    transition: border-color .5s ease 0s;
                    color: #333333;
                    border-radius: 40px;
                    line-height: 1.2;
                }
            }
            .mini-search__btns {
                position: relative;
                overflow: hidden;
                input {
                    padding: 0 50px 0 20px;
                    line-height: 18px;
                    color: #333333;
                    border-radius: 40px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: 1px solid #f0f0f0;
                    height: 40px;
                    font-size: 13px;
                    outline: 0;
                    max-width: 100%;
                    width: 100%;
                }
                .mini-search__submit {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0;
                    width: 50px;
                    border: none;
                    background-color: transparent;
                    color: #333333;
                    font-size: 15px;
                    font-weight: 600;
                    min-height: 40px;
                    border-radius: 40px;
                    transition: .3s;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .mini-search__keys {
                font-size: 12px;
                margin-top: 10px;
                margin-left: 20px;
                .mini-search__label {
                    color: #333333;
                    margin-right: 5px;
                }
                .mini-search__listKey {
                    padding: 0;
                    margin: 0;
                    display: inline-block;
                    li {
                        display: inline-block;
                        a {
                            font-weight: 400;
                            color: #666666;
                            font-size: 12px;
                            text-decoration: none;
                            transition: all .25s ease;
                            &:hover {
                                color: #ffc556;
                            }
                        }
                    }
                }
            }
        }
        .mini-search__title {
            font-weight: 600;
            color: #333333;
            padding: 10px 20px;
            border-bottom: 1px solid rgba(240, 240, 240,.8);
            box-shadow: 0 3px 10px #81818133;
            font-size: 13px;
        }
        .mini-search__content {
            padding: 20px;
            .space-item-inner:not(:last-child) {
                margin-bottom: 10px;
                padding-bottom: 10px;
            }
            .widget_img_pr {
                padding-right: 0;
                min-width: 95px;
                max-width: 95px;
                max-height: 120px;
                a {
                    height: 100%;
                }
                img {
                    max-height: 120px;
                    object-fit: contain;
                }
            }
            .widget_if_pr {
                padding-left: 10px!important;
                color: #666666;
                .widget__pr-title {
                    color: #333333;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.25;
                    text-decoration: none;
                    transition: all .25s ease;
                    display: block;
                    &:hover {
                        color: #ffc556;
                    }
                }
                .widget__pr-price {
                    font-size: 14px;
                    font-weight: 400;
                    color: #666666;
                    display: inline-block;
                }
            }
        }
        .drawer__bottom {
            padding: 12px 20px 8px;
            border-top: 1px solid rgba(240, 240, 240,.7);
            box-shadow: 0 0 10px 0 rgba(240, 240, 240,.7);
            flex: 0 0 auto;
            opacity: 0;
            -webkit-transform: translateY(45px);
            transform: translateY(45px);
            -webkit-transition: opacity .35s cubic-bezier(.25, .46, .45, .94),-webkit-transform .35s cubic-bezier(.25, .46, .45, .94);
            transition: opacity .35s cubic-bezier(.25, .46, .45, .94),transform .35s cubic-bezier(.25, .46, .45, .94),-webkit-transform .35s cubic-bezier(.25, .46, .45, .94);
            .mini-search__viewAll {
                font-size: 14px;
                font-weight: 600;
                transition: .3s;
                color: #333333;
                svg {
                    width: 18px;
                    height: auto;
                    fill: currentColor;
                    position: relative;
                    top: 3px;
                    transition: -webkit-transform .2s ease-in-out,transform .2s ease-in-out;
                }
                &:hover {
                    color: #ffc556;;
                    svg {
                        -webkit-transform: translateX(0.25rem);
                        transform: translate(0.25rem);
                    }
                }
            }
        }
        &.is-active {
            .drawer__bottom {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition: opacity .25s cubic-bezier(.25, .46, .45, .94) .45s,-webkit-transform .25s cubic-bezier(.25, .46, .45, .94) .45s;
                transition: opacity .25s cubic-bezier(.25, .46, .45, .94) .25s,transform .35s cubic-bezier(.25, .46, .45, .94) .25s,-webkit-transform .25s cubic-bezier(.25, .46, .45, .94)
            }
        }
    }
}
//end sidebar



.top-bar {
    font-size: 12px;
    color: #333333;
    background: #f0f0f0;
    a {
        color: #333333;
        font-size: 12px
    }
    .top-bar__wrap {
        padding: 10px 0;
        min-height: 24px;
        .top-bar__text {
            text-align: center;
            p {
                margin: 0;
            }
        }
        .top-bar__cur {
            text-align: end;
            .top-bar__currencies, .top-bar__languages {
                margin-left: 15px;
                display: inline-block;
                position: relative;
                button {
                    background: transparent;
                    color: #333333;
                    display: flex;
                    padding: 0;
                    align-items: center;
                    line-height: 20px;
                    font-size: 100%;
                    svg {
                        width: 8px;
                        margin-left: 5px;
                    }
                    &.is--selected,
                    &:hover {
                        background: transparent;
                        color: #ffc556;
                    }
                }
                .dropdown__wrapper {
                    top: 30px;
                    right: 0;
                    transform: translate3d(1491px, 42px, 0px);

                    min-width: 100px;
                    max-width: 300px;
                    width: auto;

                    background: #fff;
                    padding: 15px;

                    display: none;
                    max-height: 385px;
                    position: absolute;
                    bottom: auto;
                    opacity: 0;
                    overflow: auto;
                    transition: opacity .2s ease-in-out,visibility .2s ease-in-out;
                    visibility: hidden;
                    pointer-events: none;
                    z-index: 468;
                    will-change: transform,opacity,visibility;
                    -webkit-overflow-scrolling: touch;
                    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
                    &.is--opened {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                        transform: translateY(0);
                        display: block;
                    }
                    .lang-item {

                    }
                }
            }
        }
    }
}

header {
    &.section-header-hidden {
        transform: translateY(-100%);
    }
    &.animation {
        transition: transform .15s ease-out;
    }
    &.header-sticky {
        position: sticky;
        top: 0;
        z-index: 460;
        -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
        box-shadow: 0 1px 3px #0000001a;
        
    }

    .h-cart__design3 {
        .count-box {
            width: 19px;
            height: 19px;
            line-height: 19px;
            position: static;
            display: inline-block;
        }
        .site-nav__icon {
            &:last-child {
                padding-right: 0;
            }
        }
    }
    .h-cart__design2 {
        .site-nav__icon {
            &:last-child {
                padding-right: 0;
            }
        }
    }
    .h-cart__design4 {
        .site-nav__icon {
            &:last-child {
                padding-right: 0;
            }
        }
    }
    .h-cart__design5 {
        .site-nav__icon {
            &:last-child {
                padding-right: 0;
            }
        }
    }

    .center-header {
        position: relative;
        background: #fff;
        .wrapper-center-header {
            align-items: center;
            min-height: 70px;
            .push-menu-btn {
                display: flex;
                align-items: center;
            }
            .col-item-logo {
                text-align: center;
                .header__logo img {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    transform: translateZ(0);
                    max-height: inherit;
                    height: auto;
                    max-width: 100%;
                }
            }
            .col-item-menu {
                .type__mega {
                    &.has--children.is-action__hover,
                    &.has--children:hover {
                        .title-parent:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: -40px;
                            right: 0;
                        }
                        .sub-menu {
                            -webkit-transform: none;
                            transform: none;
                            pointer-events: auto!important;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .sub-menu {
                        position: absolute;
                        min-width: 250px;
                        background-color: #ffffff;
                        top: 100%;
                        z-index: 101;
                        -webkit-box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px rgb(0 0 0 / 15%);
                        box-shadow: inset 0 0 0 1px #eaeaea, 0 5px 20px #00000026;
                        box-shadow: 0 0 3px #00000026;
                        opacity: 0;
                        visibility: hidden;
                        pointer-events: none!important;
                        overflow-y: auto;
                        -webkit-overflow-scrolling: touch;
                        padding: 20px 15px;
                        width: 100vw;
                        -webkit-transform: translateY(15px) translateZ(0);
                        transform: translateY(15px) translateZ(0);
                        transition: opacity .2s,visibility .2s,transform .2s,-webkit-transform .2s;
                        left: 0;
                        max-width: 100vw;
                        max-height: var(--max-height, 75vh);
                        * {
                            pointer-events: auto!important;
                        }
                        .heading {
                            color: #333333;
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 12px;
                            padding: 0 0 13px;
                            display: block;
                            border-bottom: 1px solid #eee;
                        }
                        .sub-column {
                            padding: 0;
                            margin-bottom: 0;
                            li a {
                                padding: 10px 0;
                                display: block;
                                line-height: 1.5;
                                position: relative;
                                color: #666666;
                                font-size: 13px;
                                &:hover {
                                    color: #ffc556;
                                }
                            }
                        }
                    }
                }
            }
            .col-item-sidebar {
                text-align: end;
                .site-nav__icons {
                    display: inline-flex;
                    align-items: center;
                    .site-nav__icon {
                        padding: 0 5px;
                        display: inline-block;
                        line-height: 1;
                        cursor: pointer;
                        &:hover {
                            .icon-menu {
                                svg {
                                    color: #ffc556;
                                    transform: scale(1.15);
                                }
                            }
                        }
                        .icon-menu {
                            display: inline-block;
                            line-height: 1;
                            position: relative;
                            svg {
                                color: #333333;
                                line-height: 1;
                                vertical-align: middle;
                                transition: .35s cubic-bezier(.25,.1,.25,1);
                                width: 22px;
                                height: 22px;
                            }
                            .count-box {
                                width: 15px;
                                height: 15px;
                                letter-spacing: 0;
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 15px;
                                box-shadow: 1px 1px 3px #0000004d;
                                opacity: 1;
                                transition: .3s ease-in-out;
                                background-color: #ffc556;
                                color: #fff;
                                text-align: center;
                                border-radius: 50%;
                                position: absolute;
                                top: -5px;
                                right: -6px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 1025px) {
        .center-header {
            .wrapper-center-header {
                min-height: 90px;
                .col-item-logo {
                    text-align: start;
                }
                .nav__ul {
                    display: inline-flex;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 0;
                    margin: 0;
                    >li {
                        >a {
                            color: #333333;
                            padding: 5px 17.5px;
                            text-transform: none;
                            font-weight: 500;
                            font-size: 14px;
                            display: flex;
                            align-items: center;
                            position: relative;
                            &:hover {
                                color: #ffc556 !important;
                                .icon-select-arrow {
                                    color: #ffc556 !important;
                                }
                            }
                            p {
                                margin: 0;
                            }
                            .label {
                                background-color: #94b7e0;
                                color: #fff;
                                position: absolute;
                                color: #fff;
                                font-size: 9px;
                                padding: 1px 7px 0;
                                border-radius: 50px;
                                top: 50%;
                                line-height: 16px;
                                transform: translateY(-50%);
                                -moz-transform: translateY(-50%);
                                -o-transform: translateY(-50%);
                                -webkit-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                right: -5px;
                                margin-top: -14px;
                                -webkit-transition: opacity .3s ease-in-out;
                                -moz-transition: opacity .3s ease-in-out;
                                -o-transition: opacity .3s ease-in-out;
                                transition: opacity .3s ease-in-out;
                                opacity: 1;
                            }
                            .icon-select-arrow {
                                color: #333333;
                                position: static;
                                width: 8px;
                                margin-left: 4px;
                                height: 8px;
                                opacity: .8;
                                top: calc(50% - 5px);
                                right: 12px;
                                transition: opacity .2s ease-in-out,transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
                            }
                        }
                    }
                }
                .col-item-sidebar {
                    min-width: 16.666667%;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .center-header {
            .wrapper-center-header {
                .col-item-sidebar {
                    .site-nav__icons {
                        .site-nav__icon {
                            padding: 0 8px;
                        }
                    }
                }
            }
        }
        .h-cart__design2 {
            .site-nav__cart {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .h-cart-totals {
                display: block;
                margin-left: 15px;
            }
        }
        .h-cart__design4 {
            .site-nav__cart {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .count-box {
                    display: none;
                }
            }
            .h-cart-totals {
                display: block;
                margin-left: 15px;
                margin-left: 7px;
            }
        }
        .h-cart__design5 {
            .site-nav__cart {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .count-box {
                    display: none;
                }
            }
            .h-cart__divider {
                display: inline-block;
            }
            .h-cart-totals {
                display: block;
                margin-left: 7px;
            }
        }
        .h-cart__design1 {
            .site-nav__icon.site-nav__btnMenu {
                padding-right: 0;
            }
        }
    }
}

@media (max-width: 1199px) {
    .top-bar .top-bar__wrap {
        .top-bar__html {
            display: none;
        }
        .top-bar__cur {
            text-align: center;
        }
    }
    .drawer__left {
        right: auto;
        left: 0;
        -webkit-transform: translate3d(-104%,0,0);
        transform: translate3d(-104%,0,0);
        overflow-y: auto;
        overflow-x: hidden;
        .drawer__header  {
            background-color: rgba(102, 102, 102,.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba(129,129,129,.2);
            text-align: center;
            padding: 0;
            cursor: pointer;
            min-height: 56px;
            .mb-tab__title {
                width: 50%;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: .3px;
                font-weight: 500;
                font-size: 12px;
                color: #333333;
                padding: 5px 10px;
                height: 55px;
                cursor: pointer;
                position: relative;
                justify-content: center;
                display: flex;
                flex: 0 0 auto;
                span {
                    font-size: 12px;
                    color: #333333;
                    font-weight: 500;
                    text-transform: uppercase;
                    display: block;
                    line-height: 48px;
                }
                &:first-child:after {
                    right: 0;
                    left: auto;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    margin-top: -1px;
                    width: 0;
                    height: 2px;
                    transition: width .25s;
                    background-color: #ffc556;
                }
                &.is--active {
                    background-color: rgba(102, 102, 102,.15);
                    display: block;
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
        .mb-tab__content {
            display: none;
            -webkit-animation: 1s ani-fadeIn;
            animation: 1s ani-fadeIn;
            &.is--active {
                display: block;
            }
            .mb__menu {
                padding-left: 0;
                margin-bottom: 0;
                li {
                    &.menu-item-wishlist svg, 
                    &.menu-item-compare svg, 
                    &.menu-item-sea svg, 
                    &.menu-item-acount svg {
                        width: 16px;
                        height: auto;
                        margin-right: 7px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    &.menu-item-infos {
                        border-bottom: 1px solid rgba(240, 240, 240,.6);
                        padding: 20px;
                        svg {
                            width: 14px;
                            height: 14px;
                            margin-right: 10px;
                            opacity: .8;
                        }
                        .menu_infos_title {
                            color: #333333;
                            margin-bottom: 10px;
                            line-height: 1.3;
                            margin-top: 0;
                            font-size: 13px;
                        }
                        .menu_infos_text, .menu_infos_text a {
                            color: #666666;
                            font-size: 13px;
                        }
                        .menu_infos_text a {
                            border-bottom: 1px solid currentColor;
                            padding-bottom: 1px;
                        }
                    }
                    &.menu-item-has-children {
                        >a, .parent-menu {
                            -webkit-justify-content: space-between;
                            -ms-flex-pack: justify;
                            -webkit-box-pack: justify;
                            justify-content: space-between;
                        }
                    }
                    >a, .parent-menu {
                        letter-spacing: .2px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-flex-direction: row;
                        -ms-flex-direction: row;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        flex-direction: row;
                        padding: 5px 20px;
                        min-height: 50px;
                        border-bottom: 1px solid rgba(102, 102, 102,.2);
                        color: #333333;
                        font-size: 14px;
                        text-align: left;
                        line-height: 1.3;
                        i {
                            font-size: 20px;
                            margin-right: 10px;
                            opacity: .8;
                            .img_catk_mb {
                                max-width: 20px;
                                width: 100%;
                                border-radius: 4px;
                                
                            }
                        }
                        .mb-nav__icon {
                            width: 12px;
                            height: 12px;
                            position: relative;
                            display: block;
                            flex: 0 0 auto;
                            margin-left: 5px;
                            &:after, &:before {
                                position: absolute;
                                content: "";
                                top: 50%;
                                left: 50%;
                                -webkit-transform: translate(-50%,-50%) rotate(-90deg);
                                transform: translate(-50%,-50%) rotate(-90deg);
                                background-color: currentColor;
                                transition: transform .35s ease-in-out,opacity .35s ease-in-out,-webkit-transform .35s ease-in-out;
                            }
                            &:before {
                                width: 12px;
                                height: 1px;
                                opacity: 1;
                            }
                            &:after {
                                width: 1px;
                                height: 12px;
                            }
                        }
                    }
                    .sub-menu {
                        display: none;
                        padding-left: 0;
                        margin-bottom: 0;
                        background: #fff;
                        li {
                            a {
                                padding-left: 30px;
                                color: #666666;
                                &.currency-item.is--selected {
                                    color: #ffc556;
                                }
                            }
                        }
                    }
                    &.is--opend {

                        >a, .parent-menu  {
                            background-color: rgba(102, 102, 102,.1);
                            >.mb-nav__icon:before {
                                opacity: 0;
                                -webkit-transform: translate(-50%,-50%) rotate(90deg);
                                transform: translate(-50%,-50%) rotate(90deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    header {
        .center-header {
            .wrapper-center-header {
                .col-item-sidebar .site-nav__icons .site-nav__icon {
                    &.site-nav__account,
                    &.site-nav__heart {
                        display: none;
                    }
                }
            }
        }

    }
}