:root {
  --switch-layout-color: #666666;
  --text-color: #666666;
  --border-color: #f0f0f0;
  --heading-color: #333333;
  --font-heading-family: Poppins;
  --secondary-color: #333333;
  --accent-color: #ffc556;
  --light-color: #ffffff;
  --other-radius: 0px;
  --dark-color: #222222;
  --accent-color-rgb: 255, 197, 86;
  --btn-radius: 40px;
}
.shake {
  animation: shake 0.3s ease-in-out infinite;
}
.owl-carousel-vertical {
  transform: rotate(90deg);
  .owl-item {
    transform: rotate(-90deg);
  }
} 

@keyframes shake {
  25% {
    transform: translateZ(0);
  }

  50% {
    transform: translate3d(5px, 0, 0);
  }

  75% {
    transform: translate3d(-5px, 0, 0);
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: var(--heading-color);
  font-family: var(--font-heading-family);
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 0px;
}

/*Page Section Heading*/
.page_section_heading {
  .header-banner {
    background-repeat: inherit;
    background-size: cover;
    background-position: left center;
    .page-head {
      padding: 10px 0;
      margin-bottom: 0;
      overflow: hidden;
      position: relative;
      text-align: start;
      .breadcrumbs {
        margin-bottom: 16px;
        .breadcrumbs__list {
          justify-content: center;
          color: #aaa;
          margin: 0 -3px 5px;
          padding: 0;
          .breadcrumbs__item {
            font-size: 13px;
            font-weight: 400;
            margin: 0 3px;
            display: inline-block;
            color: #222222;
            a:hover {
              display: inline-block;
              color: var(--accent-color);
            }
            svg {
              width: 10px;
              position: relative;
              left: 3px;
              top: 4px;
            }
          }
          span {
            font-size: 13px;
            font-weight: 400;
            display: inline-block;
            color: #222222;
            opacity: 0.6;
          }
        }
      }
      .title-head {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0px;
        color: #333333;
        margin-bottom: 0;
        text-transform: uppercase;
      }
    }
  }
}
/*end*/
.top-heading {
  text-align: center;
  margin-bottom: 30px;
  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #333333;
    margin: 7px;
    margin-top: 0;
    font-size: 25px;
    line-height: 25px;
    span {
      margin: 0 10px;
    }
    @media (min-width: 768px) {
      span {
        margin: 0 30px;
      }
      &:before,
      &:after {
        width: 60px !important;
      }
    }
    @media (max-width: 767px) {
      font-size: 20px;
    }
    &:before,
    &:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 2px;
      background: #333333;
    }
  }
}
/*section-main-product*/
.section-main-product {
  .is--layout_wide {
    @media (min-width: 1025px) {
      max-width: 1600px !important;
    }
  }
  .main-area {
    .row__product {
      .product__media-left {

        padding: 0 15px;
        .main-image {
          flex: 0 0 auto;
          width: 100%;
          max-width: 100%;
          box-sizing: border-box;
          padding: 0;
          width: calc(100% - 90px);
          @media (max-width: 1024px) {
            width: 100%;
          }
          img {
            object-fit: cover;
            object-position: center center;
          }
        }
        .thump-image {
          position: relative;
          flex: 0 0 auto;
          width: 100%;
          max-width: 100%;
          padding: 0;
          position: relative;
          .swiper2 {
            .item-img {
              opacity: 0.5;
              transition: .3s ease-in-out;
              &.swiper-slide-active {
                opacity: 1;
              }
            }
          }
        }
        @media (max-width: 1024px) {
          .thump-image {
            margin-top: 5px;
            width: 100%;
          }
        }
        @media (min-width: 1025px) {
          flex-wrap: nowrap;
          .main-image {
            order: 6;
            flex: 1 0 0%;
          }
          .thump-image {
            margin-right: 10px;
            width: 90px;
            order: -1;
            flex: 0 0 auto;
            .swiper2 {
              position: absolute;
              top: 0;
              bottom: 0;
            }
          }
        }
      }

      .product__info-wrapper {
        .product__info-container {
          transition: opacity 0.2s;
          @media (min-width: 768px) {
            position: -webkit-sticky;
            position: sticky;
            top: 30px;
          }
          .product__title {
            margin-top: 0;
            margin-bottom: 10px !important;
            font-size: 16px;
            font-weight: 600;
            color: #222222;
            text-transform: capitalize;
            letter-spacing: 0px;
            line-height: 1.3;
          }
          .product-price {
            font-size: 19px;
            line-height: 19px;
            font-weight: 400;
            color: #555559;
          }
          .extra-link {
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 20px;
            a {
              margin-right: 20px;
            }
          }
          .product-form__variants {
            form {
              .swatch {
                .swatch__option {
                  margin-bottom: 20px;
                  .swatch__title {
                    font-size: 14px;
                    color: #333333;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin: 0.65em 0 0.5em;
                  }
                  .swatch__list {
                    margin: 10px -5px 0;
                    .swatch_item {
                      -ms-touch-action: manipulation;
                      touch-action: manipulation;
                      display: inline-block;
                      padding: 6px 16px 7px;
                      text-align: center;
                      border: 1px solid #f0f0f0;
                      color: #666666;
                      border-radius: 3px;
                      vertical-align: middle;
                      cursor: pointer;
                      margin: 5px;
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-position: center;
                      transition: color 0.25s ease, background-color 0.25s ease,
                        border-color 0.15s ease, box-shadow 0.25s ease,
                        opacity 0.25s ease;
                    }
                    .swatch_item.active {
                      border-width: 2px;
                    }
                  }
                }
                .swatch__option.is-name__color .swatch_item {
                  position: relative;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;
                  width: 44px;
                  height: auto;
                  border-color: #333333;
                  padding: 0;
                  font-size: 0;
                  box-shadow: inset 0 0 0 2px #ffffff;
                  &.is--soldout:after {
                    content: "";
                    width: 90%;
                    height: 2px;
                    background: #222;
                    display: block;
                    position: absolute;
                    z-index: 22;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(135deg);
                  }
                  &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    padding-top: calc(100% / (0.75));
                  }
                }
                .swatch__option:not(.is-name__color) {
                  .swatch_item {
                    font-size: 13px;
                    color: #333333;

                    &.active {
                      border-color: #333333;
                      background: #333333;
                      color: #ffffff;
                    }
                    &:hover {
                      border-color: #333333;
                    }
                    &.is--soldout {
                      text-decoration: line-through;
                      text-decoration-color: currentColor;
                    }
                  }
                }
              }
              .pr-form__buttons {
                @media (min-width: 1025px) {
                  width: auto;
                  max-width: 340px;
                }
                display: flex;
                flex-direction: column;
                .pr-bt__wrap {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  @media (max-width: 1024px) {
                    justify-content: start;
                    flex-wrap: wrap;
                  }
                  .pro-form__qty {
                    min-width: 120px;
                    border-radius: 8px;
                    width: 120px;
                    height: 40px;
                    border: 1px solid #333333;
                    text-align: center;
                    display: inline-block;
                    position: relative;
                    margin-right: 10px;
                    order: 1;
                    button {
                      position: absolute;
                      font-size: 25px;
                      display: block;
                      padding: 0;
                      top: 0;
                      width: 30px;
                      height: 40px;
                      line-height: 40px;
                      border: 0;
                      background: 0 0;
                      color: var(--secondary-color);
                    }
                    .is--minus {
                      left: 0;
                      text-align: left;
                      padding-left: 15px;
                    }
                    .is--plus {
                      right: 0;
                      text-align: right;
                      padding-right: 15px;
                    }
                    input.quantity-input[type="number"] {
                      width: 35px;
                      border: 0px;
                      height: 38px;
                      background: 0px 0px;
                      padding: 0;
                      font-weight: 600;
                      font-size: 16px;
                      color: #333333;
                      text-align: center;
                      -moz-appearance: textfield;
                    }
                  }
                  .pro-form__submit {
                    @media (max-width: 1024px) {
                      justify-content: start;
                      order: 6;
                      flex-basis: 100%;
                      margin-top: 15px;
                    }
                    @media (min-width: 1025px) {
                      width: 100%;
                      min-width: 160px;
                    }
                    font-size: 14px;
                    font-weight: 600;
                    color: #fff;
                    min-height: 40px;
                    padding: 5px 25px;
                    cursor: pointer;
                    text-transform: uppercase;
                    border-radius: 8px;
                    order: 4;
                    background-color: #ffc556;
                    border: none;
                    span:first-child {
                      height: inherit;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                    &:hover {
                      background-color: #ffab0a;
                    }
                  }
                  .pr-wishlist {
                    position: relative;
                    border-radius: 8px;
                    min-width: 40px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    margin-left: 10px;
                    color: #b8403d;
                    border: 1px solid #b8403d;
                    text-align: center;
                    transition: all 0.3s ease 0s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    order: 4;
                    .text-pr {
                      display: none;
                    }
                    svg {
                      width: 18px;
                      height: 18px;
                      fill: currentColor;
                      pointer-events: none;
                    }
                    &.is--added {
                      color: #b8403d;
                      border-color: #b8403d;
                    }
                  }
                }
                .shopify-payment-button {
                  margin-top: 15px;
                  .shopify-payment-button__button {
                    display: flex;
                    flex-direction: column;
                    min-height: 44px;
                    position: relative;
                    z-index: 1;
                    font-size: 14px;
                    color: #ffffff;
                    font-weight: 500;
                    background: #5a31f4 !important;
                    border-color: #5a31f4 !important;
                    .shopify-cleanslate {
                      flex: 1 !important;
                      display: flex !important;
                      flex-direction: column !important;
                      .DnvZqPMEvBFbBre5UuP9:hover:not(.LVeInvZ5HcNOW1Zsn7NH) {
                        background: #3c0def !important;
                        border-color: #3c0def !important;
                      }
                      .h7OYsWHrW5495r9beh2n {
                        padding-left: 12px !important;
                        padding-right: 12px !important;
                      }
                      .jjzYeefyWpPZLH9pIgyw {
                        display: flex;
                        justify-content: center;
                        flex: 1 !important;
                        flex-wrap: wrap !important;
                        padding: 4px !important;
                        align-items: center;
                        min-height: 44px !important;
                        max-height: 60px !important;
                      }
                      .kqsiVA9Jf8LJAbxw8Bau,
                      .kqsiVA9Jf8LJAbxw8Bau * {
                        cursor: pointer !important;
                      }
                      .ElVMgDjOgshGFMIvg3se {
                        display: inline-block !important;
                      }
                    }
                  }
                  .shopify-payment-button__more-option {
                    background: #f4f6f8;
                    border: 0 none;
                    cursor: pointer;
                    display: block;
                    font-size: 1em;
                    margin-top: 1em;
                    text-align: center;
                    width: 100%;
                    padding: 11px 15px;
                    border-radius: 8px;
                    &:hover {
                      color: var(--secondary-color) !important;
                      background-color: #f5f5f5;
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
          .product_meta {
            > div {
              font-size: 13px;
              margin-bottom: 5px;
              .csecondary {
                color: #333333;
              }
            }
          }
          .product-tabs-wrapper {
            .tabs {
              .tab-wrapper {
                .tab__title {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  background-color: rgba(102, 102, 102, 0.08);
                  font-weight: 500;
                  font-size: 13px;
                  .tab__text {
                    padding: 10px;
                    color: #333333;
                    @media (min-width: 768px) {
                      padding: 10px 20px;
                    }
                  }
                  .tab__icon {
                    width: 44px;
                    height: 44px;
                    background-color: #333333;
                    color: #ffffff;
                    position: relative;
                    display: block;
                    flex: 0 0 auto;
                    margin-left: 5px;
                    &::before,
                    &::after {
                      position: absolute;
                      content: "";
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%) rotate(-90deg);
                      background-color: currentColor;
                      transition: transform 0.35s ease-in-out,
                        opacity 0.35s ease-in-out;
                    }
                    &::before {
                      width: 15px;
                      height: 2px;
                    }
                    &::after {
                      width: 2px;
                      height: 15px;
                    }
                  }
                }
                .tab-content {
                  display: none;
                  padding: 20px;
                  border: 1px solid rgba(102, 102, 102, 0.08);
                  border-top: 0;
                  p {
                    font-size: 13px;
                  }
                }
                &:not(:last-child) {
                  margin-bottom: 10px;
                }
                &:first-child {
                  .tab-content {
                    display: block;
                  }
                }
                &.active {
                  .tab__title {
                    .tab__icon {
                      &::before {
                        opacity: 0;
                      }
                      &::after {
                        transform: translate(-50%, -50%) rotate(90deg);
                      }
                    }
                  }
                }
              }
            }
          }
          & > :not(:last-child) {
            margin-bottom: 20px;
          }
        }
        @media (max-width: 767px) {
          .product__info-container {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
/*end*/
/*product-recommendations*/
.product-recommendations {
  .product-extra {
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 15px;
    @media (max-width: 767px) {
      margin-bottom: 30px !important;
    }
    .show-tooltip {
      position: relative;
      &:hover {
        .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
      }
      .tooltiptext {
        visibility: hidden;
        position: absolute;
        min-width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.6s;
        font-size: 12px;
        line-height: 1;
        &.tooltip-top {
          bottom: 150%;
          left: 50%;
          transform: translateX(-50%);
          &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
          }
        }
        &.tooltip-top-left {
          bottom: 125%;
          left: 0;
          &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 10px;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
          }
        }
      }
    }
    .product-wrapper {
      @media (max-width: 767px) {
      }
      .pro-inner {
        position: relative;
        overflow: hidden;
        .pro-img {
          a {
            img {
              transition: opacity 0.5s,
                transform 2s cubic-bezier(0, 0, 0.44, 1.18),
                -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
              width: 100%;
              transform-origin: center center;

              &:nth-of-type(2) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                overflow: hidden;
              }
            }
          }
        }
        .pro-btns {
          a {
            border-radius: 9px;
            height: 40px;
            font-size: 14px;
            text-align: center;
            position: relative;
            overflow: hidden;
            pointer-events: auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            line-height: 40px;
            min-width: 136px;
            padding: 0 15px;
          }
        }
        &:hover {
          .pro-img {
            a {
              img {
                &:nth-of-type(2) {
                  opacity: 1;
                  overflow: hidden;
                  transform: scale(1.1);
                }
                &:nth-of-type(1) {
                  opacity: 0;
                  overflow: hidden;
                }
              }
            }
          }
          .pro-wishlist {
            opacity: 1;
            visibility: visible;
            transform: translate(0);
          }
          .pro-btns {
            opacity: 1;
            visibility: visible;
            transform: translateY(-50%);
          }
        }
      }
      .pro-info {
        padding-top: 16.5px;
        .pro-info__inner {
          > * {
            margin-bottom: 6.5px;
          }
          .pro-title {
            font-size: 11px;
            font-weight: 400;
            color: #333333;
            text-transform: capitalize;
            letter-spacing: 0px;
            line-height: 16px;
            display: block;
            text-align: start;
          }
          .pro-price {
            font-size: 15px;
            font-weight: 600;
            text-align: start;
            color: #666666;
          }
          .pro-variant {
            text-align: start;
            margin-bottom: 40px;
            .pr-color__item {
              padding: 1px;
              margin: 4px;
              border: 1px solid #f0f0f0;
              cursor: pointer;
              display: inline-flex;
              vertical-align: top;

              .pr-color__value {
                position: relative;
                display: block;
                width: 16px;
                height: 16px;
                text-align: center;
                background-position: center center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
              }
              .pr-color__value.sold-out::after {
                content: "";
                width: 90%;
                height: 1px;
                background: #222;
                display: block;
                position: absolute;
                z-index: 22;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(135deg);
              }
            }
            .pr-color__item.active {
              background-color: #666666;
              border-color: #666666;
            }
          }
        }
      }
      .pro-btns2 {
        position: absolute;
        top: 12px;
        left: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
          > span {
            transition: all 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .pro-wishlist {
        @media (max-width: 1024px) {
          opacity: 1;
          visibility: visible;
        }
        opacity: 0;
        visibility: hidden;
        width: 22px;
        height: 22px;
        text-align: center;
        margin-bottom: 5px;
        position: relative;
        transform: translate(-5px);
        transition: 0.3s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        .pro-icon {
          cursor: pointer;
          .active {
            color: #ffc556;
          }
        }
        .pro-text {
          display: none;
        }
      }
      .pro-btns {
        position: absolute;
        z-index: 3;
        transition: 0.5s ease 0s;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        pointer-events: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        top: 50%;
        margin: auto;
        flex-direction: column;
        transform: translateY(-100%);
        .pro-addtocart {
          color: #222;
          background-color: #ffffff;
          > span {
            transition: all 0.3s;
            svg {
              color: #ffffff;
            }
          }
          &:hover {
            background-color: #222;
            .pro-icon {
              left: 50%;
              transform: translate(-50%, 0);
            }
            .pro-text {
              transform: translateY(-100%);
            }
          }
          .pro-icon {
            text-align: center;
            position: absolute;
            color: #333333;
            left: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transform: translate(-50%, 100%);
          }
        }
      }
    }
    @media (max-width: 1199px) {
      .container {
        .box-pro {
          .row {
            .col-lg-3 {
              flex: 0 0 auto;
              width: 50%;
            }
          }
        }
      }
    }

    @media (max-width: 1024px) {
      .row {
        .product-wrapper {
          .pro-btns {
            opacity: 1;
            visibility: visible;
            height: 36px;
            top: auto;
            bottom: 5px;
            right: 5px;
            left: auto;
            transform: none;
            display: unset;
            .pro-addtocart {
              min-width: 36px;
              height: 36px;
              line-height: 36px;
              text-align: center;
              line-height: 36px;
              .pro-text {
                display: none;
              }
              .pro-icon {
                left: auto;
                top: auto;
                transform: none;
                svg {
                  color: #000;
                  width: 16px;
                  height: 16px;
                }
              }
              &:hover {
                .pro-icon {
                  svg {
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 767px) {
      .row {
        margin-left: -5px;
        margin-right: -5px;
        [class^="col-"] {
          padding-left: 5px;
          padding-right: 5px;
        }
        .product-wrapper {
          .pro-btns {
            opacity: 1;
            visibility: visible;
            height: 36px;
            top: auto;
            bottom: 5px;
            right: 5px;
            left: auto;
            transform: none;
            display: unset;
            .pro-addtocart {
              min-width: 36px;
              height: 36px;
              line-height: 36px;
              text-align: center;
              line-height: 36px;
              .pro-text {
                display: none;
              }
              .pro-icon {
                left: auto;
                top: auto;
                transform: none;
                svg {
                  color: #000;
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }
        }
      }
    }
    .slick-list {
      padding: 0 !important;
      .slick-track {
        margin: 0 !important;
      }
    }
    .slick-arrow {
      &:before {
        content: "";
      }
      @media (max-width: 1024px) {
        width: 40px;
        height: 40px;
      }
      @media (max-width: 575px) {
        display: none !important;
      }
      color: #222222;
      background-color: transparent;
      border: 2px solid #222222;
      border-radius: 50%;
      top: 35%;
      transform: translateY(-50%) !important;
      transition: all 0.5s;
      z-index: 3;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      box-shadow: 0 2px 10px #36363626;
      &:hover {
        background-color: #ffc556;
        border: 0;
        svg {
          fill: #ffffff;
        }
      }
      svg {
        width: 16px;
        height: 16px;
      }
    }
    .pull-left {
      left: 3%;
      @media (max-width: 1024px) {
        left: 4%;
      }
    }
    .pull-right {
      right: 3%;
      @media (max-width: 1024px) {
        right: 4%;
      }
    }
    .box-pro {
      &:hover {
        .pull-left {
          @media (max-width: 1024px) {
            left: 2%;
          }
          left: 2%;
        }
        .pull-right {
          @media (max-width: 1024px) {
            right: 2%;
          }
          right: 2%;
        }
      }
    }
  }
}

/*end*/
.sticky-atc {
  &.is--shown {
    transform: translateZ(0) !important;
  }
  position: fixed;
  padding: 10px;
  background-color: var(--t4s-light-color);
  z-index: 190;
  box-shadow: 0 0 9px #0000001f;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  transform: translate3d(0, 105%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  @media (max-width: 1024px) {
    bottom: 55px;
    border-bottom: 1px solid var(--border-color);
    transform: translate3d(0, calc(105% + 55px), 0) !important;
  }
  @media (max-width: 767px) {
    justify-content: center;
  }
  .sticky-atc__product {
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      display: none;
    }
    .sticky-atc__img {
      position: relative;
      width: 65px;
      height: 65px;
      min-width: 65px;
      border-radius: 50%;
      overflow: hidden;
      img {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }
    }
    .sticky-atc__infos {
      margin: 0 15px;
      @media (max-width: 1024px) {
        max-width: 332px;
      }
      @media (max-width: 991px) {
        max-width: 150px;
      }
      @media (max-width: 768px) {
        max-width: 108px;
      }
      .sticky-atc__title {
        font-weight: 500;
        font-size: 13px;
        color: #333333;
      }
      .sticky-atc__price {
        color: #666666;
        font-size: 13px;
      }
    }
    .sticky-atc__v-title {
      margin: 0 30px;
      .dropdown__sortby {
        flex: 1 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        button {
          svg {
            opacity: 1;
            width: 10px;
            height: 10px;
            position: absolute;
            top: calc(50% - 5px);
            right: 12px;
            transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
              -webkit-transform 0.2s ease-in-out;
            transform: rotate(0);
          }
          svg.active {
            transform: rotate(180deg);
          }
          @media (max-width: 767px) {
            padding: 7px 30px 7px 15px !important;
            border-radius: var(--btn-radius) !important;
            min-width: auto !important;
            min-height: auto !important;
            border: none !important;
            .txt-desktop {
              display: none !important;
            }
          }
        }
        button[data-dropdown-open] {
          border: 1px solid var(--border-color);
          border-radius: 40px;
          padding: 7px 15px;
          min-width: 190px;
          background-color: transparent;
          color: var(--text-color);
          text-align: inherit;
          position: relative;
          z-index: 8;
          font-size: 14px;
          min-height: 40px;
        }
        .dropdown__wrapper {
          display: none;
          box-shadow: 0 0 20px rgb(0 0 0 / 20%);
          background-color: #ffffff;
          padding: 0;
          z-index: 468;
          width: 250px;
          position: absolute;
          margin-top: 10px;
          bottom: 125%;
          left: 50%;
          transform: translateX(-50%);
          .drop-arrow {
            display: block;
            background-color: #ffffff;
            position: absolute;
            width: 16px;
            height: 16px;
            transform: rotate(45deg);
            top: -5px;
            left: 70%;
          }
          .dropdown__content {
            padding: 15px 0;
            button {
              padding: 10px 15px;
              display: block;
              background-color: transparent;
              color: var(--text-color);
              width: 100%;
              text-align: inherit;
              transition: 0.3s ease-in-out;
              &.active,
              &:hover {
                background: rgba(var(--accent-color-rgb), 0.08);
                color: var(--accent-color);
              }
            }
            &.current-scrollbar {
              max-height: 400px;
              list-style: none;
              overflow-y: auto;
              overflow-x: hidden;
              -webkit-overflow-scrolling: touch;
              &::-webkit-scrollbar {
                width: 5px;
              }

              &::-webkit-scrollbar-track {
                background: #f2f2f2;
              }

              &::-webkit-scrollbar-thumb {
                background: #d5d5d5;
              }
            }
          }
          &.active {
            display: block;
          }
        }
      }
    }
  }
  .sticky-atc__btns {
    @media (max-width: 575px) {
      width: 100%;
    }
    .pr-form__buttons {
      @media (min-width: 1025px) {
        width: auto;
        max-width: 340px;
      }
      @media (max-width: 575px) {
        display: block;
      }
      display: flex;
      .pr-bt__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1024px) {
          align-items: center;
        }
        .pro-form__qty {
          min-width: 120px;
          border-radius: 40px;
          width: 120px;
          height: 40px;
          border: 1px solid #f0f0f0;
          text-align: center;
          display: inline-block;
          position: relative;
          margin-right: 10px;
          order: 1;
          button {
            position: absolute;
            font-size: 25px;
            display: block;
            padding: 0;
            top: 0;
            width: 30px;
            height: 40px;
            line-height: 40px;
            border: 0;
            background: 0 0;
            color: var(--secondary-color);
          }
          .is--minus {
            left: 0;
            text-align: left;
            padding-left: 15px;
          }
          .is--plus {
            right: 0;
            text-align: right;
            padding-right: 15px;
          }
          input.quantity-input[type="number"] {
            width: 35px;
            border: 0px;
            height: 38px;
            background: 0px 0px;
            padding: 0;
            font-weight: 600;
            font-size: 16px;
            color: #333333;
            text-align: center;
            -moz-appearance: textfield;
          }
        }
        .pro-form__submit {
          @media (min-width: 1025px) {
            width: 100%;
            min-width: 160px;
          }
          @media (max-width: 1024px) {
            align-items: center;
          }
          @media (max-width: 575px) {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
          }
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          min-height: 40px;
          padding: 5px 25px;
          cursor: pointer;
          text-transform: uppercase;
          border-radius: 40px;
          order: 4;
          background-color: #ffc556;
          border: none;
          span:first-child {
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &:hover {
            background-color: #ffab0a;
          }
        }
      }
    }
  }
}

/*top bar bt*/
.shopify-section-toolbar_mobile {
  position: fixed;
  bottom: 0;
  background: #fff;
  height: 55px;
  width: 100%;
  z-index: 190;
  box-shadow: 0 0 9px #0000001f;
  transition: transform 0.25s;
  @media (max-width: 1024px) {
    display: block;
  }
  display: none;
  .toolbar {
    padding: 5px;
    .toolbar-item {
      text-align: center;
      position: relative;
      a {
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        height: 45px;
        font-weight: 400;
        line-height: 1;
        position: relative;
        padding-bottom: 15px;
        .toolbar-label {
          position: absolute;
          bottom: 5px;
          display: block;
          text-align: center;
          font-weight: 600;
          font-size: 11px;
          line-height: 1;
          color: #333333;
        }
        .toolbar-icon {
          position: relative;
          color: #333333;
          svg {
            width: 20px;
            height: 20px;
          }
          .count-box {
            position: absolute;
            width: 15px;
            height: 15px;
            letter-spacing: 0;
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
            box-shadow: 1px 1px 3px #0000004d;
            opacity: 1;
            transition: 0.3s ease-in-out;
            background-color: #ffc556;
            color: #ffffff;
            text-align: center;
            border-radius: 50%;
            top: -5px;
            right: -9px;
          }
        }
      }
    }
  }
}
/*end*/
