@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translateZ(0);
  }
}
@keyframes modal-opening {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
$border-w: 2px;
.animation-fadeInUp {
  animation: fadeInUp 1.5s both;
}
/* slider */
.list_slider {
  @media (max-width: 767px) {
    .container.desktop {
      display: none;
    }
    .container.mobile {
      display: block;
    }
  }
  .slide_item {
    position: relative;
    .slide_item_content {
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      text-align: center;
      @media (max-width: 767px) {
        bottom: 100%;
        height: 121px;
        top: 70%;
      }
      h5 {
        margin-top: 0;
        color: #ffffff;
        cursor: pointer;
        font-size: 62px;
        font-weight: 600;
        opacity: 0;
        line-height: 62px;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px;
        margin-bottom: 18px;
        @media (max-width: 767px) {
          margin-top: 0;
          font-size: 36px;
          line-height: 36px;
          margin-bottom: 6px;
        }
      }
      p {
        cursor: pointer;
        opacity: 0;
        color: #ffffff;
        margin-bottom: 18px;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px;
        @media (max-width: 767px) {
          font-size: 14px;
          line-height: 14px;
        }
      }
      a {
        @media (max-width: 767px) {
          padding: 0 20px;
          font-size: 12px;
          min-height: 36px !important;
          line-height: 36px;
        }
        opacity: 0;
        min-height: 50px;
        display: inline-block;
        text-align: center;
        line-height: 50px;
        color: #333333;
        background-color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        padding: 0 44px;
        &:hover {
          background-color: #ffc556;
        }
      }
    }
  }
  .slick-dots {
    bottom: 15px;
    li {
      width: auto;
      button {
        transition: all 0.3s;
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background-color: #222222;
        opacity: 0.5;
        padding: 0;
        &::before {
          content: "";
        }
      }
    }
    li.slick-active {
      button {
        opacity: 1;
        width: 30px;
      }
    }
  }
  .slick-arrow {
    @media (max-width: 1199px) {
      display: none;
    }
    &:before {
      content: "";
    }
    opacity: 0;
    visibility: hidden;
    top: 50%;
    transform: translateY(-50%) !important;
    transition: all 0.3s;
    background-color: #ffffff;
    z-index: 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    box-shadow: 0 2px 10px #36363626;
    &:hover {
      color: #ffc556;
      background-color: #ffc556;
    }
    svg {
      width: 16px;
      height: 16px;
    }
  }
  .pull-left {
    left: 3%;
  }
  .pull-right {
    right: 3%;
  }
  .container {
    &:hover {
      .slick-arrow {
        opacity: 1;
        visibility: visible;
      }
      .pull-left {
        left: 2.5%;
      }
      .pull-right {
        right: 2.5%;
      }
    }
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .container.mobile {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
    .slick-dots {
      display: none;
    }
    .slide_item {
      .slide_item_content {
        left: 50%;
      }
    }
    .slick-arrow {
      display: none;
    }
    .slick-dots {
      display: none !important;
    }
  }
}
/*banner*/
.shopify-section {
  width: 100%;
  @media (max-width: 767px) {
    .bannner_desktop {
      display: none;
    }
  }
  .bannner_mobile {
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }
}
/*end*/
/* end slider */
/*title*/
.top_heading {
  margin-bottom: 2px;

  text-align: center;
  .section_title {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 7px;
    color: #333333;
    > span {
      display: inline-block;
      vertical-align: top;
    }

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
}
/* end title */
/* product list */
.list_product {
  margin-bottom: 60px;
  margin-top: 60px;
  .product-wrapper {
    margin-top: 30px;
    .pro-inner {
      position: relative;
      overflow: hidden;
      .pro-img {
        a {
          img {
            transition: opacity 0.5s,
              transform 2s cubic-bezier(0, 0, 0.44, 1.18),
              -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
            width: 100%;
            transform-origin: center center;

            &:nth-of-type(2) {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              opacity: 0;
              overflow: hidden;
            }
          }
        }
      }
      .pro-btns {
        a {
          border-radius: 9px;
          height: 40px;
          font-size: 14px;
          text-align: center;
          position: relative;
          overflow: hidden;
          pointer-events: auto;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          line-height: 40px;
          min-width: 136px;
          padding: 0 15px;
        }
      }
      &:hover {
        .pro-img {
          a {
            img {
              &:nth-of-type(2) {
                opacity: 1;
                overflow: hidden;
                transform: scale(1.1);
              }
              &:nth-of-type(1) {
                opacity: 0;
                overflow: hidden;
              }
            }
          }
        }
        .pro-wishlist {
          opacity: 1;
          visibility: visible;
          transform: translate(0);
        }
        .pro-btns {
          opacity: 1;
          visibility: visible;
          transform: translateY(-50%);
        }
      }
    }
    .pro-info {
      padding-top: 16.5px;
      .pro-info__inner {
        > * {
          margin-bottom: 6.5px;
        }
        .pro-title {
          font-size: 11px;
          font-weight: 400;
          color: #333333;
          text-transform: capitalize;
          letter-spacing: 0px;
          line-height: 16px;
          display: block;
          text-align: center;
        }
        .pro-price {
          font-size: 15px;
          font-weight: 600;
          text-align: center;
          color: #666666;
        }
        .pro-variant {
          text-align: center;
          .pr-color__item {
            padding: 1px;
            margin: 4px;
            border: 1px solid #f0f0f0;
            cursor: pointer;
            display: inline-flex;
            vertical-align: top;

            .pr-color__value {
              display: block;
              width: 16px;
              height: 16px;
              text-align: center;
              background-position: center center !important;
              background-repeat: no-repeat !important;
              background-size: cover !important;
            }
          }
          .pr-color__item.active {
            background-color: #666666;
            border-color: #666666;
          }
        }
      }
    }
    .pro-btns2 {
      position: absolute;
      top: 12px;
      left: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        > span {
          transition: all 0.3s;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .pro-wishlist {
      opacity: 0;
      visibility: hidden;
      width: 22px;
      height: 22px;
      text-align: center;
      margin-bottom: 5px;
      position: relative;
      transform: translate(-5px);
      transition: 0.3s;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      .pro-icon {
        cursor: pointer;
        .active {
          color: #ffc556;
        }
      }
      .pro-text {
        display: none;
      }
    }
    .pro-btns {
      position: absolute;
      z-index: 3;
      transition: 0.5s ease 0s;
      opacity: 0;
      visibility: hidden;
      text-align: center;
      pointer-events: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      left: 0;
      right: 0;
      top: 50%;
      margin: auto;
      flex-direction: column;
      transform: translateY(-100%);
      .pro-addtocart {
        color: #222;
        background-color: #ffffff;
        > span {
          transition: all 0.3s;
          svg {
            color: #ffffff;
          }
        }
        &:hover {
          background-color: #222;
          .pro-icon {
            left: 50%;
            transform: translate(-50%, 0);
          }
          .pro-text {
            transform: translateY(-100%);
          }
        }
        .pro-icon {
          text-align: center;
          position: absolute;
          color: #333333;
          left: 50%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          transform: translate(-50%, 100%);
        }
      }
    }
  }
  @media (max-width: 1199px) {
    margin-top: 30px;
    .container {
      .box-pro {
        .row {
          .col-lg-3 {
            flex: 0 0 auto;
            width: 50%;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    margin-top: 30px;
    .row {
      margin-left: -5px;
      margin-right: -5px;
      [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px;
      }
      .product-wrapper {
        .pro-btns {
          opacity: 1;
          visibility: visible;
          height: 36px;
          top: auto;
          bottom: 5px;
          right: 5px;
          left: auto;
          transform: none;
          display: unset;
          .pro-addtocart {
            min-width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            line-height: 36px;
            .pro-text {
              display: none;
            }
            .pro-icon {
              left: auto;
              top: auto;
              transform: none;
              svg {
                color: #000;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .row {
      .product-wrapper {
        .pro-btns {
          opacity: 1;
          visibility: visible;
          height: 36px;
          top: auto;
          bottom: 5px;
          right: 5px;
          left: auto;
          transform: none;
          display: unset;
          .pro-addtocart {
            min-width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            line-height: 36px;
            .pro-text {
              display: none;
            }
            .pro-icon {
              left: auto;
              top: auto;
              transform: none;
              svg {
                color: #000;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }
}
/* end product list */

/* category list  */
.list_categories {
  margin-top: 10px;
  @media (max-width: 1199px) {
    .container {
      .category_block {
        .row {
          .col-lg {
            flex: 0 0 auto;
            width: 33.33333333%;
            .cat-content {
              margin-top: 30px;
              .cat-content_img {
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .container {
      padding: 0 15px;
    }
  }

  .category_block {
    @media (max-width: 767px) {
      padding: 20px 10px;
      .row {
        margin-left: -5px;
        margin-right: -5px;
        [class^="col-"] {
          padding-left: 5px;
          padding-right: 5px;
        }
        .cat-content {
          .cat-content_img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
    background-color: #f0f0f0;
    padding: 30px 120px;
    .cat-content {
      display: block;
      vertical-align: top;
      overflow: hidden;
      .cat-content_img {
        max-width: 170px;
        max-height: 170px;
        overflow: hidden;
        border-radius: 50%;
        img {
          width: 100%;
        }
      }
      .cate-wrapper {
        max-width: 100%;
        height: 44px;
        padding: 0;
        .cat-title {
          min-height: 24px;
          line-height: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          font-weight: 600;
          height: 100%;
        }
      }
    }
  }
}
/* end category list  */

/* block_2 slide */
.list_slider.block_2 {
  margin-bottom: 60px;
  .slide_item {
    .slide_item_content {
      top: 70%;
      left: 50%;
      width: 100%;
      text-align: center;
      a {
        left: 0;
        transform: translate(0) !important;
      }
    }
  }
  .container {
    .slick-dots {
      display: none !important;
    }
  }
  @media (max-width: 1199px) {
    .container {
      .slide_item_content {
        top: 62%;
      }
    }
  }
}
/* end block_2 slide */

/* block_3 slide */
.list_slider.block_3 {
  overflow: hidden;
  @media (max-width: 767px) {
    .container-fluid.desktop {
      display: none;
    }
    .container-fluid.mobile {
      display: block;
    }
  }
  .slide_item_content {
    @media (max-width: 1199px) {
      left: 37.2%;
    }
    left: 32.5%;
    text-align: start;
    p {
      color: #222222;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 25px;
      letter-spacing: 0px;
      font-weight: 400;
      opacity: 1;
      text-shadow: none;
      @media (max-width: 767px) {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 10px;
      }
      &.title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 25px;
        @media (max-width: 767px) {
          font-size: 20px;
          line-height: 20px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .container-fluid.mobile {
    display: none;
    @media (max-width: 767px) {
      display: block;
      .slide_item {
        .slide_item_content {
          display: inline-flex;
          flex-direction: column;
          justify-content: end;
          left: 0 !important;
          top: 0;
          min-height: 100%;
          min-width: 100%;
          transform: none;
          overflow: hidden;
          padding: 0 20px;
        }
      }
    }
    .slick-dots {
      display: none;
    }
    .slide_item {
      .slide_item_content {
        left: 50%;
      }
    }
    .slick-arrow {
      display: none;
    }
    .slick-dots {
      display: none !important;
    }
  }
}
/* end block_3 slide */

/* block instagram */
.list_instagram {
  padding: 60px;
  @media (max-width: 1024px) {
    .row {
      .col-lg-3 {
        flex: 0 0 auto;
        width: 50%;
      }
    }
  }
  @media (max-width: 767px) {
    padding: 20px;
  }
  .row {
    margin: 0;
  }
  [class^="col-"] {
    padding: 0;
  }
  .top_heading {
    margin-bottom: 10px;
  }
  .ins-eff {
    position: relative;
    z-index: 3;
    display: block;
    vertical-align: top;
    overflow: hidden;
    &:before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000;
      opacity: 0;
      transition: opacity 0.2s ease;
      z-index: 2;
      pointer-events: none;
    }
    .ins-info {
      .ins-icon {
        display: block;
        position: absolute;
        z-index: 5;
        top: 50%;
        opacity: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s;
        i {
          font-size: 24px;
          color: #ffffff;
        }
      }
    }
    &:hover {
      &:before {
        opacity: 0.3;
      }
      .ins-info {
        .ins-icon {
          opacity: 1;
        }
      }
      .ins-radio {
        img {
          transform: scale(1.1);
          transition: opacity 0.5s, transform 2s cubic-bezier(0, 0, 0.44, 1.18),
            -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
          transform: scale(1.1);
        }
      }
    }
  }
}
/* end block instagram */

.modal {
  position: fixed;
  display: none;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    opacity: 0.6 !important;
    animation: none !important;
    cursor: pointer;
  }
  .modal-content {
    z-index: 100;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    margin: 15px;
    box-shadow: 0 12px 25px #00000026;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    animation: modal-opening 0.3s forwards;
    @media (min-width: 769px) {
      .modal-content {
        max-height: 90vh;
      }
    }
    .close {
      color: #fff;
      background-color: #333333;
      z-index: 4;
      position: absolute;
      right: -12px;
      top: -12px;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
      &:hover,
      &:focus {
        background: #ffab0a;
      }
    }
    .pr-quick-shop {
      padding: 30px;
      .pr-qs-inner {
        .pr-qs__title {
          font-size: 14px;
          font-weight: 400;
          color: #333333;
          text-transform: none;
          letter-spacing: 0px;
          line-height: 21px;
          margin-bottom: 20px !important;
        }
        .pr-qs__price {
          margin-bottom: 20px;
          font-size: 20px;
          line-height: 20px;
          font-weight: 700;
          color: #333333;
        }
        .pr-form__variants {
          form {
            .swatch {
              .swatch__option {
                margin-bottom: 20px;
                .swatch__title {
                  font-size: 14px;
                  color: #333333;
                  text-transform: uppercase;
                  font-weight: 700;
                  margin: 0.65em 0 0.5em;
                }
                .swatch__list {
                  margin: 10px -5px 0;
                  .swatch_item {
                    -ms-touch-action: manipulation;
                    touch-action: manipulation;
                    display: inline-block;
                    padding: 6px 16px 7px;
                    text-align: center;
                    border: 1px solid #f0f0f0;
                    color: #666666;
                    border-radius: 3px;
                    vertical-align: middle;
                    cursor: pointer;
                    margin: 5px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    transition: color 0.25s ease, background-color 0.25s ease,
                      border-color 0.15s ease, box-shadow 0.25s ease,
                      opacity 0.25s ease;
                  }
                  .swatch_item.active {
                    border-width: 2px;
                  }
                }
              }
              .swatch__option.is-name__color .swatch_item {
                width: 38px;
                height: 38px;
                border-color: #333333;
                padding: 0;
                font-size: 0;
                box-shadow: inset 0 0 0 2px #ffffff;
                background: #e5e5e5;
              }
              .swatch__option:not(.is-name__color) {
                .swatch_item {
                  font-size: 13px;
                  color: #333333;
                }
                .swatch_item.active {
                  border-color: #333333;
                  background: #333333;
                  color: #ffffff;
                }
                .swatch_item:hover {
                  border-color: #333333;
                }
              }
            }
            .pr-form__buttons {
              .pr-bt__wrap {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .pro-form__qty {
                  min-width: 120px;
                  border-radius: 40px;
                  width: 120px;
                  height: 40px;
                  border: 1px solid #333333;
                  text-align: center;
                  display: inline-block;
                  position: relative;
                  margin-right: 10px;
                  order: 1;
                  button {
                    position: absolute;
                    font-size: 25px;
                    display: block;
                    padding: 0;
                    top: 0;
                    width: 30px;
                    height: 40px;
                    line-height: 40px;
                    border: 0;
                    background: 0 0;
                    color: var(--secondary-color);
                  }
                  .is--minus {
                    left: 0;
                    text-align: left;
                    padding-left: 15px;
                  }
                  .is--plus {
                    right: 0;
                    text-align: right;
                    padding-right: 15px;
                  }
                  input.quantity-input[type="number"] {
                    width: 35px;
                    border: 0px;
                    height: 38px;
                    background: 0px 0px;
                    padding: 0;
                    font-weight: 600;
                    font-size: 16px;
                    color: #333333;
                    text-align: center;
                    -moz-appearance: textfield;
                  }
                }
                .pro-form__submit {
                  font-size: 14px;
                  font-weight: 600;
                  color: #fff;
                  min-height: 40px;
                  padding: 5px 25px;
                  cursor: pointer;
                  margin-top: 20px;
                  text-transform: uppercase;
                  border-radius: 40px;
                  order: 4;
                  background-color: #ffc556;
                  span:first-child {
                    height: inherit;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                  &:hover {
                    background-color: #ffab0a;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*footer*/
footer {
  background-color: #f5f6f6;
  .section-footer {
    padding-top: 55px;
    padding-bottom: 78px;
    @media (min-width: 992px) and (max-width: 1024px) {
      .row {
        .col-lg-3,
        .col-lg-15,
        .col-lg-4 {
          flex: 0 0 auto;
          width: 50%;
        }
      }
    }
    @media (min-width: 992px) {
      .col-lg-15 {
        width: 20%;
      }
    }
    @media (max-width: 767px) {
       .col-md-6:first-child {
              margin-top: 0 !important;
            }
      .footer-wrap {
        padding: 0 10px;
        .footer-mobile {
          display: flex !important;
          align-items: center;
          justify-content: space-between;
          h3 {
            margin-bottom: 0 !important;
          }
          .footer-collapse-icon {
            width: 12px;
            height: 12px;
            position: relative;
            display: block;
            flex: 0 0 auto;
            &::before,
            &::after {
              position: absolute;
              content: "";
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(-90deg);
              background-color: currentColor;
              transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out,
                -webkit-transform 0.35s ease-in-out;
            }
            &::before {
              width: 12px;
              height: 1px;
            }
            &::after {
              width: 1px;
              height: 12px;
            }
          }
        }
        .footer-desktop {
          display: none !important;
        }
        .footer-content {
          display: none;
          margin-top: 15px;
        }
      }
      .footer-wrap.is--footer_opened {
        .footer-mobile {
          .footer-collapse-icon {
            &::before {
              opacity: 0;
            }
            &::after {
              transform: translate(-50%, -50%) rotate(90deg);
            }
          }
        }
      }
    }
    [class^="col-"] {
      margin-top: 30px;
    }
    .footer-wrap {
      .footer-heading {
        h3 {
          font-size: 16px;
          line-height: 22px;
          font-weight: 600;
          letter-spacing: 0px;
          color: #666666;
          margin-bottom: 28px;
        }
      }
      .footer-mobile {
        display: none;
      }
      .footer-content {
        .ft-text {
          p {
            span {
              font-size: 14px;
            }
          }
        }
        .ft-socials-block {
          .ft-list-socials {
            display: flex;
            justify-content: start;
            align-items: center;
            a {
              padding: 0 10px;
              background-color: transparent !important;
              min-height: 24px;
              &:last-child {
                margin-right: 0;
              }
              &:first-child {
                padding-left: 0;
              }
              svg {
                fill: #666666;
                opacity: 0.8;
                display: inline-block;
                vertical-align: middle;
                border: none;
                height: 18px;
                width: 18px;
                transition: all 0.5s;
              }
            }
            a.facebook {
              &:hover {
                svg {
                  fill: rgb(59, 89, 152);
                  transform: translateY(-5px);
                }
              }
            }
            a.instagram {
              &:hover {
                svg {
                  fill: rgb(224, 53, 102);
                  transform: translateY(-5px);
                }
              }
            }
            a.twitter {
              &:hover {
                svg {
                  fill: rgb(29, 161, 242);
                  transform: translateY(-5px);
                }
              }
            }
            a.linkedin {
              &:hover {
                svg {
                  fill: rgb(0, 119, 181);
                  transform: translateY(-5px);
                }
              }
            }
            a.youtobe {
              &:hover {
                svg {
                  fill: rgb(205, 32, 31);
                  transform: translateY(-5px);
                }
              }
            }
          }
        }
        .ft-menu {
          .ft-linklist {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
              list-style: none;
              margin-right: 0;
              margin-bottom: 10px;
              a {
                color: #8a8b8c;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                &:hover {
                  color: #ffc556;
                }
              }
            }
          }
        }
        .ft-newsletter-parent {
          margin-bottom: 20px;
          margin-top: -5px;
          form {
            position: relative;
            .newsletter__fields {
              .newsletter__inner {
                padding: 0;
                border: none;
                margin-left: 0;
                margin-right: 0;
                display: flex;
                align-items: center;
                .is--col-email {
                  flex: 1 0 0%;
                  width: 100%;
                  max-width: 100%;
                  .newsletter__email {
                    border-width: 1px;
                    border-style: solid;
                    line-height: 22px;
                    border-right: 0;
                    width: 100%;
                    padding: 13px 15px;
                  }
                }
                .is--col-btn {
                  min-width: 111px;
                  .newsletter__submit {
                    text-transform: none;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 13px 15px;
                    margin: 0;
                    line-height: 24px;
                    border: none;
                    background-color: #666666;
                    color: #ffffff;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    text-align: center;
                    min-width: 111px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    .newsletter__text {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                  }
                }
              }
            }
          }
        }
        .payment-footer-svg {
          margin-bottom: 20px;
          height: 30px;
          img {
            padding: 2.5px;
            height: 30px;
          }
        }
      }
    }
  }
  .section-bottom-bar {
    padding-bottom: 5px;
    .bl-bt-bar-1 {
      text-align: start;
      .coppy-right {
        font-size: 12px;
        color: #333333;
        line-height: 22px;
        font-weight: 400;
      }
    }
    .bl-bt-bar-2 {
      text-align: end;
      .ft-style2 {
        .ft-linklist {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;
            margin-bottom: 10px;
            a {
              color: #666666;
              font-size: 12px;
              font-weight: 400;
              &:hover {
                color: #ffc556;
              }
            }
          }
        }
      }
    }
  }
}
/*end-footer*/

/*back to top*/
.section-back_top {
  #backToTop {
    display: none;
    right: 40px;
    bottom: 55px;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s;
    position: fixed;
    z-index: 100;
    transition: 0.4s ease 0s;
    width: 50px;
    height: 50px;
    font-size: 35px;
    border-radius: 3px;
    background: #fff;
    color: #878787;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    transition: 0.4s;
    box-shadow: 0 0 3px #0003;
    .circle-css {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      .circle--inner {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 46px;
        width: 46px;
        border-radius: 2px;
        background: #fff;
        z-index: 2;
        svg {
          width: 12px;
        }
      }
      .circle--bg {
        position: absolute;
        z-index: 1;
        width: 100%;
        border-radius: 3px;
        height: 100%;
        mask: radial-gradient(circle, transparent 62%, white calc(62% + 1px));
        will-change: background;
        transition: background 0.15s ease-in-out 0s;
      }
    }
  }
}
/*end */

/*top bar bt*/
.shopify-section-toolbar_mobile {
  @media (max-width: 1024px) {
    display: block;
  }
  display: none;
  .toolbar {
    padding: 5px;
    .toolbar-item {
      text-align: center;
      position: relative;
      a {
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        height: 45px;
        font-weight: 400;
        line-height: 1;
        position: relative;
        padding-bottom: 15px;
        .toolbar-label {
          position: absolute;
          right: 10px;
          bottom: 5px;
          left: 10px;
          display: block;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: 600;
          font-size: 11px;
          line-height: 1;
          color: #333333;
        }
        .toolbar-icon {
          position: relative;
          color: #333333;
          svg {
            width: 20px;
            height: 20px;
          }
          .count-box {
            position: absolute;
            width: 15px;
            height: 15px;
            letter-spacing: 0;
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
            box-shadow: 1px 1px 3px #0000004d;
            opacity: 1;
            transition: 0.3s ease-in-out;
            background-color: #ffc556;
            color: #ffffff;
            text-align: center;
            border-radius: 50%;
            top: -5px;
            right: -9px;
          }
        }
      }
    }
  }
}
/*end*/
